[2021-06-25 07:09] barmac opened #1467 "Cannot connect Message Flows to Call Activities"
__Describe the Bug__

Message Flows where a Call Activity is either a source or a target are disallowed.

According to BPMN 2.0.2 spec, a Message Flow connects Interaction Nodes. Interaction Node is a type which includes Pools, Activities and Events:

(p. 122)

Call Activity is an Activity and therefore it should be allowed to connect it with a Message Flow given the other shape is in a different

[2021-06-25 07:11] barmac commented on #1467
This has to be fixed within bpmn-io/bpmn-moddle: https://github.com/bpmn-io/bpmn-moddle/blob/master/resources/bpmn/json/bpmn.json#L1894

[We implement the rule correctly](https://github.com/bpmn-io/bpmn-js/blob/develop/lib/features/rules/BpmnRules.js#L274), it's just the schema being incorrect.

[2021-06-25 07:13] nikku commented on #1467
It is wrong in the meta-model, hence our derived moddle is wrong, too.

[2021-06-25 07:15] barmac commented on #1467
Oops :D

[2021-06-25 07:24] nikku commented on #1467
Fun fact: We already fix this for sub-processes: https://github.com/bpmn-io/bpmn-moddle/blob/master/tasks/transforms/transformBPMN.js#L222.

[2021-06-25 07:27] barmac commented on #1467
Oh nice. I should not forget to remove that line in my fix 👍

[2021-06-25 08:33] #1467 closed

[2021-06-25 10:24] nikku commented on #1466
Could you attach a screen capture that showcases the behavior?

[2021-06-25 12:33] dstrenge commented on #1465
Here is the video.  I click the tool, show that it is working, then go back to the tool and attempt to drag.  Can be reproduced without moving the mouse onto the canvas (after the click).  Video was shot of Chrome on Windows 10.

[

https://user-images.githubusercontent.com/5981293/123425247-e2615000-d58f-11eb-946d-46164a63bc14.mp4

](url)

[2021-06-25 12:37] dstrenge commented on #1466
Here is the video.  I start the drag near the right edge of the tool.  I get the drag cursor but the image does not draw.  If I drag it over an existing image on the canvas, it appears.

https://user-images.githubusercontent.com/5981293/123425682-716e6800-d590-11eb-9e0d-4a0a62632979.mp4

[2021-06-28 12:34] marstamm commented on #1443
## Team alignment
Synced with the designers of Product Teams to understand where Problems could pop up

### Optimize
In general, the integration with Optimize seems to be straight-forward
- Use Heatmaps - needs retooling to work for multiple layers
- Tooltips are always shown above of the activity - no overlap
- Diagrams are also shown in small preview windows --> make sure Breadcrumbs are not to

[2021-06-29 02:49] cheepine commented on #1461
ItemDefinition class has a property named 'import', this property is reference. I want to reference to a Import from Definitions, but it doen't working.
![ItemDefinition](https://user-images.githubusercontent.com/74293057/123729488-a0097d00-d8c7-11eb-851c-8c84d3973051.png)

[2021-06-29 06:56] pinussilvestrus commented on #1465
So you are trying to create an element from the palette via click + then drag, is this correct? It really seems that start dragging closes the create-on-click operation. I could imagine that this is annoying to some extend.

Can you describe how likely this scenario is? Is it rather common that you first click and then immediately drag?

[2021-06-29 06:59] pinussilvestrus commented on #1466
I was able to reproduce it in some area on the very edge of one icon (e.g. gateway). Seems like the hover and the click area do not 100% match. I'd argue that's important that these things always match, to avoid confusion.

Thanks for sharing!

[2021-06-29 07:54] barmac commented on #1461
Import type does not have `id` property in BPMN 2.0. I looked for examples of using import with item definition and couldn't find anything helpful. Perhaps your issue can be solved without imports.

[2021-06-29 13:38] dstrenge commented on #1465
Yes, that is exactly it (apologies that the video does not show the button clicks).

I can only guess at how likely it is, but I've had 4 people (including myself) indicate that they think drag/drop is broken when they switch tools and this seems to be the cause of that.  I wonder if there is a way to indicate that the operation is in progress when you click (but haven't left the toolbar) - so tha

[2021-06-29 13:39] dstrenge commented on #1466
Thank you for the timely responses!

[2021-06-30 06:44] pinussilvestrus commented on #1465
Thanks a lot for providing some details! We will see how to improve the situation.

Do you have any suggestion or idea that comes to your mind?

[2021-07-05 11:58] dstrenge commented on #1465
I was thinking that if you could see the shape on top of the toolbar when you start the action, possibly that would help tell the user that the action is in progress.  Otherwise, if the tool selected had a 'highlight' when you started the action, maybe that would be enough?

Tried to illustrate both possibilities here.  One with a green selection if the action is in progress, but also showing the

[2021-07-05 13:17] nikku commented on #1465
We'll see how we could potentially follow up on this one.

[2021-07-08 06:13] Adrian-Bielefeldt opened #1471 "Special characters from JS not displayed properly"
__Describe the Bug__

Special characters are not properly displayed when set in javascript.

__Steps to Reproduce__

1. Clone this example: https://github.com/bpmn-io/bpmn-js-example-custom-elements
2. Add a special character (Ä) to the text in this line: https://github.com/bpmn-io/bpmn-js-example-custom-elements/blob/master/app/custom/CustomContextPad.js#L66
3. Install and run as per the instruct

[2021-07-26 07:16] marstamm commented on #1443
Miro Link for Kickoff: https://miro.com/app/board/o9J_l7NuUV4=/

[2021-07-30 08:46] marstamm opened #1472 "Decouple DIs from business Objects"
__What should we do?__

Remove the 1:1 connection between business Objects and DIs

__Why should we do it?__

The bpmn standard allows multiple DIs (in different Diagrams) to exist for the same BPMN element. With the limitation of 1 di per BO, we prevent imports of multiple diagrams.

Therefore we should
- Remove the link of BO -> di
- Keep the link from di -> BO
- Add a link from the element/shap

[2021-08-09 09:15] marstamm opened #1474 "Importer supports multiple Diagrams"

[2021-08-11 09:40] threefish opened #1475 "After 8.0, I can't use ctrl and the left mouse button to select multiple nodes, it is possible before 8.0"
__Describe the Bug__

After 8.0, I can't use ctrl and the left mouse button to select multiple nodes, it is possible before 8.0 .I think it's a bug . Can be reproduced on https://demo.bpmn.io/bpmn

__Environment__

 - Browser: [ Chrome 90 ]
 - OS: [Windows 10]
 - Library version: [>8.0]

[2021-08-16 10:22] nikku commented on #1475
Thanks for opening this issue @threefish!

This seems to be a side-effect of a number of keyboard shortcut related improvements we shipped with `v8.0.0`: https://github.com/bpmn-io/bpmn-js/blob/develop/CHANGELOG.md#800.

[2021-08-17 07:48] barmac commented on #1335
I cannot reproduce it anymore 🎉

[2021-08-17 07:48] #1335 closed

[2021-08-17 14:58] AndyBan commented on #1339
I think it might be the same issue but this also occurs when adding new lanes on 8.7.1:

![image](https://user-images.githubusercontent.com/25322348/129749932-6c79e728-23df-439f-9bd5-009c0e7e2b62.png)

![image](https://user-images.githubusercontent.com/25322348/129749951-721c52dd-b6b4-4f28-ad7a-e2434ce55130.png)

[2021-08-28 19:20] fell-lucas opened #1479 "Can't resize task box"
__Describe the Bug__

There are no resizing handles in the online version of the tool.

__Steps to Reproduce__

1. Go to [bpmn.io](https://demo.bpmn.io/new)
2. Create a new task
3. Click on it
4. No handles to resize outwards or inwards

https://user-images.githubusercontent.com/47724710/131228609-06750747-3e4e-4b94-8a73-07ab6db0412c.mp4

__Expected Behavior__

The handles should appear and I shou

[2021-08-30 06:54] nikku commented on #1479
Tasks cannot be resized, [for a good reason](https://forum.bpmn.io/t/resizable-tasks/480).

Closing this one as _wont fix_.

[2021-08-30 06:54] #1479 closed

[2021-09-01 12:19] andreasgeier commented on #1443
## UX review
Attendees: @marstamm @andreasgeier

- Design of the drill-down button
  Is aligned with Cawemo (color, size, border radius).
  _Comment Andi: Okay for now. But when the design spec of the Visual IDE is implemented, this will be the guideline for our libraries. Other tools have to solve issues by overriding the CSS._
- Position of the drill-down button
  Is aligned with Cawemo and equa

[2021-09-01 13:00] andreasgeier commented on #1443
@marstamm We did not talk about the scalability of the breadcrumb. Do you already have a solution for long breadcrumbs that would exceed the viewport width?

[2021-09-01 13:30] marstamm commented on #1443
No, I have not thought about long breadcrumbs yet. One possibility is to use ellipsis and only show the first and last x Layers in those cases. E.g. `Root > ... > Layer 35 > Layer 36 > Layer 37`

We could also think of a maximum width and `text-overflow: ellipsis;` for individual Label Names (and especially IDs if no name is set).

[2021-09-01 13:47] nikku commented on #1443
Should be fixed in token simulation. We should not account for extensions and how they do things in the core.

[2021-09-01 13:50] marstamm commented on #1443
In addition to this, we plan to move the breadcrumbs to the expanded sub-process once we display it, so the conflict might only exist on a specific version or not at all

[2021-09-01 14:29] andreasgeier commented on #1443
@marstamm Let's add your proposals for scalability to the list of todos.

- Cut long labels at x characters or at a width of x px and show ellipsis. Include a title tag to provide the full name of labels.
- Use ellipses for long breadcrumbs (see Cawemo example)

[2021-09-02 07:13] barmac commented on #778
The `camunda:initiator` removal applies to all start events. Let's have it in a separate issue.

[2021-09-03 13:14] #1472 closed

[2021-09-07 06:08] mandrakeli opened #1482 "request for vertical lane support"
__Is your feature request related to a problem? Please describe.__

when i create a bpmn xml with vertical lane，i found the lane.name is layout on the left not on the top，please correct or support it with right place，thx！

__Describe the solution you'd like__

vertical lane's layout on the top

__Describe alternatives you've considered__

..

__Additional context__

![image](https://user-images.gi

[2021-09-07 06:25] barmac commented on #1482
Duplicate of https://github.com/bpmn-io/bpmn-js/issues/507

We are open to contributions but vertical lanes are not on our roadmap.

[2021-09-07 06:25] #1482 closed

[2021-09-08 11:54] marstamm opened #1483 "Overlays and Breadcrumbs are used for navigation"

[2021-09-08 11:55] marstamm opened #1484 ""Ghost-Elements" are used to display context in the Sub-Process"

[2021-09-08 14:11] masoud-moghini opened #1485 "bo.get is not a function"
please delete this issue as it was replicate of https://github.com/bpmn-io/bpmn-js-examples/issues/66

[2021-09-09 07:38] #1485 closed

[2021-09-09 08:49] andreasgeier commented on #1443
Quick sync @marstamm and @andreasgeier

New challenges because of the "ghost" borders:
- keep compatibility with Signavio, they don't use subprocess shapes on planes
- positioning on planes because subprocess shape is "fake" and not considered
- to be ensured: same modeling behavior like on the root (auto-resize, no placement outside)
- to be decided: prop panel for subprocesses and boundary event

[2021-09-10 12:34] zxiaozhou opened #1486 "Why is the XML content of messageRef in receiveTask updated with updateProperties undefined"
__Describe the Bug__

Call the Modeling updateProperties method to update the receiveTask messageRef property and get undefined

__Steps to Reproduce__

1. Add the receiveTask task and add BPMN :message ID to Message_08o0uty
2.
[code]
3.
![image](https://user-images.githubusercontent.com/62740686/132853775-f2ed993f-d770-451d-aca1-f9470f93a32d.png)

__Expected Behavior__

1. messageRef=Message_08o0

[2021-09-10 12:52] pinussilvestrus commented on #1486
Are you able to share your setup inside a [CodeSandbox](https://codesandbox.io/s/bpmn-js-sandbox-3zkw0)? Otherwise, it will be hard to find out what's wrong on your side.

[2021-09-10 13:27] pinussilvestrus commented on #1486
It's not enough to set the id of the message element to update a reference. You need the complete element.

[code]

Source: https://codesandbox.io/s/set-message-jtebu?file=/src/index.js

[2021-09-11 00:30] zxiaozhou commented on #1486
@pinussilvestrus Thank you so much

[2021-09-11 00:30] #1486 closed

[2021-09-15 06:28] ningsy1017 opened #1488 "version@8 bug"
when i use the version@8 I get the error like this : bo.get is not a function
![image](https://user-images.githubusercontent.com/20644193/133381701-728cba76-6dc2-4d68-893a-e434cfcf66d5.png)
 then i change version to ^7.4.0 it work ,why?

[2021-09-15 07:20] nikku commented on #1488
The issue is introduced with `diagram-js@7.4` and the properties panel version you're using.

Please update to the latest version of `bpmn-js-properties-panel` to resolve the issue.

See also https://github.com/bpmn-io/diagram-js/issues/568 for another issue that is tracking this.

[2021-09-15 07:21] #1488 closed

[2021-09-15 13:17] barmac commented on #778
This belongs to camunda/camunda-modeler, but cannot be transferred because of different organizations.

[2021-09-15 13:17] #778 closed

[2021-09-21 13:02] nikku commented on #332
I've added my [2021 assessment on documentation](https://docs.google.com/document/d/1b_B2WxJ-6TtQWTIETVstJzgaGqtmqG-L4s4v88i_RBw/edit#) to the issue description.

[2021-09-23 00:22] ipassynk opened #1490 "DeleteConnectionHandler.execute exception when dropping EventBasedGateway with connection"
__Describe the Bug__

Hi, I am trying to bring on a canvas EventBasedGateway and IntermediateCatchEvent connected and this specific combination always fails with exception in DeleteConnectionHandler.execute. If i change EventBasedGateway to just a Task - it works.

__Steps to Reproduce__

execute https://codesandbox.io/s/bpmn-js-sandbox-forked-l7shl?file=%2Fsrc%2Findex.js:627-649

[code]
here is e

[2021-09-23 11:34] barmac commented on #1490
Thanks for your report. I was able to reproduce this and will move it to the backlog. We will happily accept a PR with a fix.

[2021-09-24 08:42] nikku opened #1491 "Incorporate color and alignment helpers into context pad"
__Is your feature request related to a problem? Please describe.__

Coloring and alignment utilities are currently only exposed via API and been must be provided to users via custom UI controls.

For the sake of a unified modeling experience it would make sense to make these elements available directly from the modeler user interface.

__Describe the solution you'd like__

These actions are availa

[2021-09-24 10:03] tript55 opened #1492 "Spaces between name of task is not kept when use `updateProperties`"
__Describe the Bug__

Hi, We are doing some customization of the library. We need to update the task name programatically but it doesn't keep the spaces between words

__Steps to Reproduce__

1. Execute this sandbox https://codesandbox.io/s/update-name-forked-5dm11?file=/src/index.js
[code]

__Expected Behavior__

Start event name becomes **some&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;thing** (sp

[2021-09-24 12:47] nikku opened #1493 "`CTRL + A` broken in direct editing mode"
__Describe the Bug__

With the introduction of https://github.com/bpmn-io/diagram-js/pull/564 we broke select all / copy / paste interaction with the edited text.

__Steps to Reproduce__

1. Open [demo.bpmn.io](https://demo.bpmn.io/s/start)
2. Direct edit start event label
2. `CTRL + A` with direct editing active

:arrow_right: You'll see that all elements on the canvas are selected, rather than t

[2021-09-25 14:46] sfelix39 opened #1494 "Integrate vertical pools / lanes for better readability"
__Is your feature request related to a problem? Please describe.__
A simple readability of bpmn models is limited by the width and height of the screen where it's represented.
Of course scrolling (vertical, horizontal) could solve this problem.
Especially horizontal scrolling isn't the regular way to navigate through a lot of information, for example as a bpmn model gives.
Imagine a spreadsheed wh

[2021-09-27 21:00] ramanandh opened #1495 "Unparsable Error <bpmn:process> detected while opening with Modeller"
Hello

I am building a simple process with Springboot using this video link https://www.youtube.com/watch?v=sgcSm7YneTs&t=253s
and facing issues while opening the process.bpmn in Modeller.

Any ideas how this can be fixed ??

unparsable content <bpmn:process> detected

[C:\Installs\Camunda Projects\Travel Management\src\main\resources\process.bpmn] no process or collaboration to display
    at Obj

[2021-09-28 11:54] oumayma-ltaief commented on #441
hello @nikku can you please explain why do this change is considered as a bug? is it a known rule in bpmn standard? I'm suprised to force such reset to the condition or default flow setting.

[2021-09-29 03:42] Banana-energy opened #1496 "Support custom disabled drag elements"
__Is your feature request related to a problem? Please describe.__

When I want to prevent the user from dragging the element, I am very distressed, because I can't directly display a picture, I need to respond to the click event of the element.

__Describe the solution you'd like__

Support custom disabled drag elements

__Describe alternatives you've considered__

I found that this requirement c

[2021-09-29 05:01] Banana-energy commented on #1496
I replaced the canXXX function called by the init function with the this.canXXX function, and then rewritten the canDrop function in BpmnRules.prototype, which seemed to take effect

Ex

![image](https://user-images.githubusercontent.com/49467518/135206052-a113a361-4515-45c5-aeb0-e3cf25ab10ee.png)

![image](https://user-images.githubusercontent.com/49467518/135205980-1e0dceb3-55ad-482f-9ef6-56552f

[2021-09-29 05:10] Banana-energy commented on #1496
Well, After I modified this.canXXX, rewriting the canMove function took effect发😀

[2021-09-29 17:16] nikku commented on #441
@oumayma-ltaief What exactly does not work as you'd expect it here?

[2021-09-29 17:29] nikku commented on #1495
For questions, please turn to out [community forum](https://forum.bpmn.io/).

As the error message indicates there is an issue with your BPMN 2.0 diagram, likely not being valid BPMN 2.0. Sharing it (on the forum) would be helpful for us to look into the issue.

[2021-09-29 17:29] #1495 closed

[2021-10-04 06:07] MaxTru commented on #1496
Hi @Banana-energy,

following [your comment](https://github.com/bpmn-io/bpmn-js/issues/1496#issuecomment-929840993) I understand this is resolved? Closing this issue. Please feel free to re-open, in case this still is a Feature Request.

Thanks

[2021-10-04 06:07] #1496 closed

[2021-10-04 06:26] barmac commented on #1494
Please feel free to contribute a PR with the feature. Mind to follow our [contributing guidlines].

As this issue is a duplicate of https://github.com/bpmn-io/bpmn-js/issues/507, I will close it. However, we are happy to merge a PR with a contribution.

[2021-10-04 06:26] #1494 closed

[2021-10-04 11:47] pinussilvestrus commented on #1492
Thanks for reporting! I was able to reproduce it. Seems like there are problems when committing non-breaking whitespace via API. It works via direct editing though. We will see how we can handle this difference.

As a (dirty) workaround, one could use the Unicode representation of a nonbreaking white space.

[code]

[2021-10-06 02:17] tript55 commented on #1492
I compared the output of direct editting and `updateProperties` API. The difference is that Direct editting somehow replace whitespace by "&nbsp;" but API doesn't.

[2021-10-06 06:13] ashish-patwal commented on #1341
Hey @pinussilvestrus i would like to work on this issue . Can you guide me to the right files for solving this issue . Also , would be using regex to filter links a good idea to solve this problem ? What do you recommend ?

[2021-10-06 13:43] MilippFeier opened #1498 "Create bpmndi:BPMNLabel when setting the name of an activity"
I am trying to include the bpmn-in-color specification (https://github.com/bpmn-miwg/bpmn-in-color/blob/master/BPMN%20in%20COLOR.pdf). Current bpmnjs version is 8.7.3.

It turns out that the XML generated by bpmnjs is different to the bpmn-in-color reference diagram (https://github.com/bpmn-miwg/bpmn-in-color/blob/master/BPMN%20In%20Color%20Sample.bpmn).

The problem is that, in order to change (o

[2021-10-07 07:43] MaxTru commented on #1493
Moving to ready since this impacts Cawemo users

[2021-10-07 15:38] barmac commented on #1498
I see your point. According to the BPMN 2.0.2 spec:

If I get it correctly, we could have a `bpmndi:BPMNLabel` without bounds for shapes where we don't allow to move labels (e.g. tasks, participants).

Please feel free to create a PR which implements this feature with regard to the constrained I mentioned above.

[2021-10-11 05:48] shailee-m opened #1499 "Added non-passive event listener to a scroll-blocking"
__Describe the Bug__

When loaded, the browser console throws the following warning.
index.esm.js?e506:352 [Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive.

__Steps to Reproduce__

The issue is reproduced whenever the min-dom is loaded.
When the modeler is instantiated(BPMN-js/lib/Mod

[2021-10-11 06:22] AsianCat54x commented on #1491
Hey, Can I work on this issue?

[2021-10-15 14:14] barmac opened #1505 "Event subprocess replace menu allows to collapse when element is copied"
__Describe the Bug__

You can create a collapsed event subprocess from a copy of an expanded event subprocess. It can contain children, too. It's not possible for an event subprocess created via subprocess' replace menu.

https://user-images.githubusercontent.com/28307541/137501204-185f43f8-73a4-4e42-987e-cb2c9c680ffe.mov

__Steps to Reproduce__

1. Create a subprocess and morph it into an event s

[2021-10-20 07:31] MaxTru opened #1508 "Error thrown when morphing DataStoreReference to DataObjectReference outside of Pool"
__Describe the Bug__

Error thrown when morphing DataStoreReference to DataObjectReference outside of Pool.

Error:
[code]

__Steps to Reproduce__

1. Open https://demo.bpmn.io/new
2. Model a collaboration
3. Add DataStoreReference outside of pool
4. Morph to DataObjectReference

![MorphBug](https://user-images.githubusercontent.com/42800119/138047751-6691a166-0650-45f8-ace9-f65429e9b76e.gif)

__E

[2021-10-21 13:00] nikku opened #1511 "Moving elements onto breadcrumb blow up editor"
__Describe the Bug__

If I accidentally move an element over the newly introduced breadcrumbs the editor blows up:

![capture kZ2UqD_optimized](https://user-images.githubusercontent.com/58601/138278262-eb278440-7168-4c41-8a1a-176fe060f813.gif)

__Steps to Reproduce__

1. Drill down into [collapsed process](https://github.com/bpmn-io/bpmn-js/blob/develop/test/fixtures/bpmn/collapsed-sub-process.bpm

[2021-10-22 02:34] tript55 opened #1512 "BPMN object's background becomes red (error state) when doing some stuff"
__Describe the Bug__

When I do some  Copy/Paste actions continously, some BPMN objects's background become red.
Not only Copy/Paste action causes the bug. Repeatedly connect 2 tasks also make bug happen

__Steps to Reproduce__

1. Go to BPMN's demo page
2. Create a pool
3. Create a task and copy it
4. Move mouse outside the pool and hold Ctrl+V and do not release the keyboard while perform pastin

[2021-10-22 07:09] #1512 closed, assigned to nobody

[2021-10-24 20:53] topialla opened #1513 "Add resizing for all text elements as for TextAnnotation"
Text elements in tasks or at gateways can have issues with proper spacing and readability.
So far I often edit the svg to properly align/size the text, but of course then I cannot reedit within this awesome tool ;-)

__Describe the solution you'd like__
For starters, it would be very helpful, if I could resize the textbox for gateways similar as can be done with TextAnnotations.
Longer term text s

[2021-11-01 20:06] topialla commented on #1513
Yes, well summarized! Thank you.
I do not have time in the upcoming weeks, but will give it a try, or at least mention, when I start to try.

[2021-11-03 12:39] nikku commented on #1443
Sync results with @marstamm:

In addition to [unsolved UX issues](https://github.com/bpmn-io/bpmn-js/issues/1443#issuecomment-915890037) Ghost elements cause a number of technical issues.

:arrow_right: We'll make a conscious decision whether to support them. My proposal is to drop them for the time being.

[2021-11-03 12:42] nikku commented on #1443
Results of a minor modeling without ghost elements spike:

We are able to support basic modeling operations using the abstractions we got. What we need to implement is nothing out of the ordinary, which is a good sign. Still, a long walk to go :handbag:.

![capture cjz21V_optimized](https://user-images.githubusercontent.com/58601/140061747-7c79f574-6ce1-4df4-ba24-26bb7a1af64e.gif)

[2021-11-03 14:21] nikku commented on #1443
Results of my spike [available on the `subprocess-modeling` branch](https://github.com/bpmn-io/bpmn-js/compare/subprocess-modeling?expand=1).

[2021-11-03 19:51] alexbisaillion opened #1518 "`bpmnReplace` fails when custom meta model uses a `String` array"
__Describe the Bug__

I am using a custom meta model that has a property of type `String` and `isMany` set to true. I am attempting to call `bpmnReplace` (from `modeler.get("bpmnReplace")`) and an error is being thrown when the element is being copied:

![](https://i.imgur.com/TGbzNIf.gif)

The error prevents the element from being replaced.

I set up an example reproduction using one of the bpmn

[2021-11-04 09:15] nikku opened #1520 "Resize handles hidden behind elements"
__Describe the Bug__

On our `develop` branch the resize handles are hidden behind elements as well as the context pad, making it hard to impossible to resize in many common usage scenarios:

__`develop`__

![capture BxYD9w_optimized](https://user-images.githubusercontent.com/58601/140287617-0a8abb8a-f486-4494-8a94-e415faff3085.gif)

__Released (`v8.8.x`, [demo](https://demo.bpmn.io/))__

![captur

[2021-11-04 09:21] marstamm commented on #1520
Root Cause: the `layer-resizers` is rendered behind the Process layer:
![image](https://user-images.githubusercontent.com/21984219/140288668-c1d2e6ba-b4e4-465a-809b-3501ea41bca0.png)

Introduced with https://github.com/bpmn-io/bpmn-js/pull/1481

[2021-11-04 09:28] nikku commented on #1520
Thanks for investigating.

So we shall make sure our plane layers always sit before _always on top_ layers.

[2021-11-04 10:56] marstamm commented on #1484
We will not implement this in this iteration, cf. https://github.com/bpmn-io/bpmn-js/pull/1506#issuecomment-960646837

[2021-11-04 10:56] #1484 closed

[2021-11-04 11:07] marstamm commented on #1443
Result of Today's meeting:

- We will not ship ghost elements for now
- the costs do not justify the benefits
- The customer just requested basic drilldown/collapsed process support

[2021-11-05 08:23] marstamm opened #1522 "Breadcrumbs grow out of the viewbox with long parent chains"
__Describe the Bug__

When I have a long parent chain, the breadcrumbs can grow out of view
![image](https://user-images.githubusercontent.com/21984219/140479915-60d6f85d-75d1-4062-811b-406ebf32d4bf.png)

__Steps to Reproduce__

1. Create a lot of nested subprocesses
2. drill into collapsed process

__Expected Behavior__

- Breadcrumbs break
OR
- not all breadcrumbs are shown

__Environment__

 -

[2021-11-05 09:14] #1522 closed

[2021-11-08 12:47] marstamm opened #1527 "CallActivity Markers are to wide"
__Describe the Bug__

With https://github.com/bpmn-io/bpmn-js/pull/1515, we pass attrs to all render functions. This has side effects on rendering markers that were not caught in the review:

![image](https://user-images.githubusercontent.com/21984219/140744330-41b0ed21-55d7-41f7-82f4-f82731b9afbe.png)

__Steps to Reproduce__

1. Model a Call Activity
2. The Task Marker have the same strokeWidth a

[2021-11-08 14:24] #1520 closed

[2021-11-08 14:44] marstamm commented on #1527
This Issue as well as https://github.com/bpmn-io/bpmn-js/pull/1516 shows that we did not think the implementation through to the end.

**Root Cause**
We pass attributes down the render chain (e.g. CallActivity -> SubProcess -> TaskMarkers). In the CallActivity renderer, we change the `strokeWidth` that is then used in the `TaskMarkers`. Per default, provided attrs override the default ones.

We ne

[2021-11-08 14:53] marstamm commented on #1527
The feature was originally implemented for ghost element rendering https://github.com/bpmn-io/bpmn-js/pull/1506.
I propose to revert the changes made in the original PR. The feature was internally motivated and never shipped with a bpmn-js release. This way, we minimize the risk of overlooking something that then blows up at the users.

@nikku , can you give a quick sanity check if it is okay to r

[2021-11-08 14:54] nikku commented on #1527
Let us revert it, if we found it to be only partially usable in the first place :+1:

[2021-11-08 17:39] #1527 closed

[2021-11-09 08:48] momofant commented on #520
I spend several hours trying to follow the pipelines in the forum. But still didn't get the integrated library. It would be so great to have it pre-packaged.

[2021-11-09 10:34] nikku commented on #1491
A demo showcasing this end-to-end is [available here](https://github.com/bpmn-io/bpmn-js-color-picker/compare/master...bpmn-io:multi-element-context-pad) (link to respective `multi-element-context-pad` branches in `bpmn-js` and `bpmn-js -> diagram-js`.

__Demo using the feature end-to-end:__

![capture AJc7CN_optimized](https://user-images.githubusercontent.com/58601/140891970-8c58bd60-f05b-4bae-9

[2021-11-10 09:32] nikku commented on #1499
We need to understand what this warning originates from before jumping onto a fix. Moving this issue to the backlog.

Potentially some details [can be found on StackOverflow](https://stackoverflow.com/questions/46094912/added-non-passive-event-listener-to-a-scroll-blocking-touchstart-event).

[2021-11-12 08:47] marstamm opened #1529 "Breadcrumb CSS easily breaks in integrating applications"
__Describe the Bug__

The Breadcrumbs don't look like they are supposed to when integrated in Cockpit. We should consider making the CSS more robust against external factors, even when they are not needed all the time.

![image](https://user-images.githubusercontent.com/21984219/141436548-5b190b8b-3496-4e32-8970-ceca53a0c9fe.png)

Note:
- Arrows and text are not aligned
- Last item has link color

[2021-11-12 21:07] wangxiang4 opened #1530 "111111"
__Describe the Bug__

__Steps to Reproduce__

1. do this
2. do that

__Expected Behavior__

__Environment__

 - Browser: [e.g. IE 11, Chrome 69]
 - OS: [e.g. Windows 7]
 - Library version: [e.g. 2.0.0]

[2021-11-13 20:29] #1530 closed

[2021-11-15 14:07] #1529 closed

[2021-11-15 14:29] pinussilvestrus commented on #1518
Thanks for reporting! Sorry for not reaching out to you.

So you have the following metamodel

[code]

How should the resulting XML look like? Something like this?

[code]

I'm not even sure, whether this is possible, syntax-wise. When you want to have a collection attribute, why you don't do it like this

[code]

That would result in what you also defined in your [example diagram](https://github.

[2021-11-17 19:04] alexbisaillion commented on #1518
Hi there! So the resulting xml should indeed look like how I have it defined in the example diagram, so something like this:

[code]

The main issue I would have with defining it as you suggested would be that it doesn't map well to our XML schema, which we use to create the moddle descriptor.

This should be valid in an XML schema definition:
`<xsd:element name="path" type="xsd:string" minOccurs=

[2021-11-19 10:16] zxiaozhou opened #1533 "Chrome opened the existing model font is very large, but just move the window back to normal"
__Describe the Bug__
Chrome opened the existing model font is very large, but just move the window back to normal

__Steps to Reproduce__

1. Open the project directly in Chrome to preview the existing model, the font becomes very large, and the MAC browser works fine
![image](https://user-images.githubusercontent.com/62740686/142605393-9cebd96d-d98b-4820-82f2-91bc08c7597e.png)

__Expected Behavio

[2021-11-19 14:04] pinussilvestrus commented on #1533
I can't reproduce that on https://demo.bpmn.io/s/start. Can you share some more details on how to reproduce that behavior?

[2021-11-19 16:30] Hubel opened #1534 "Keyboard shortcuts involving CTRL are not bound to the modeler view"
When the modeler is/was opened actions involving the `CTRL` button like `CTRL+A` to select all are not performed as expected but captured by the modeler even if is not in focus or no longer displayed.

__Steps to Reproduce__

Can be reproduced using https://demo.bpmn.io/new and the keyboard shortcuts overlay.

1. Open modeler
2. Open overlay
2. Focus anything outside the modeler
3. `CTRL+A` select

[2021-11-20 19:40] zxiaozhou commented on #1533
@pinussilvestrus I found that the pop-up mode was used to open the exception，chrome(96),This is the smallest case I have provided(But I'm not sure if it's BPMN JS or my personal reasons or other reasons)
https://github.com/zxiaozhou/minimum-case

[2021-11-22 08:24] nikku commented on #1534
Thanks for opening this issue. I can reproduce this in our demo, albeit without an `input`. I'm not sure if that ever worked differently in the past. If it did, please share that setup.

[bpmn-js@8.8](https://github.com/bpmn-io/bpmn-js/blob/develop/CHANGELOG.md#880) introduces [fine-grained controls](https://github.com/bpmn-io/diagram-js/pull/573) which input related keyboard shortcuts to handle.

[2021-11-23 14:44] pinussilvestrus commented on #1518
Thanks for sharing!

I checked our `moddle-xml` library we use for the XML parsing and verified that we actually support the case you've mentioned. Notice that we have test cases for [reading](https://github.com/bpmn-io/moddle-xml/blob/master/test/spec/reader.js#L528-L550) and [writing string arrays](https://github.com/bpmn-io/moddle-xml/blob/master/test/spec/writer.js#L497-L518).

So indeed, that

[2021-11-23 14:59] pinussilvestrus commented on #1518
With https://github.com/bpmn-io/bpmn-js/commit/ed0b5a9c38826289ab096b76e9c80579bdf94643 I added a simple test case that show cases the broken behavior.

Branch: https://github.com/bpmn-io/bpmn-js/tree/string-array-moddle

[2021-11-23 15:00] marstamm opened #1536 "Create new plane with newly created collapsed sub-process"

[2021-11-23 16:20] nikku commented on #1511
With #1506 closed we should give this another look, shall we @marstamm.

[2021-11-24 08:06] marstamm commented on #1511
I think this is a general problem with the viewer. You cannot move elements (on the breadcrumbs or otherwise). This https://github.com/bpmn-io/bpmn-js/blob/cd31ef4f02989e7ea2ea8f3977a25c6696875c72/lib/features/auto-resize/BpmnAutoResizeProvider.js#L36-L40 is the fix we need and it will be integrated with https://github.com/bpmn-io/bpmn-js/issues/1536

[2021-11-24 09:42] nikku commented on #1511
Note that we've solved it for the palette already; we shall aim for a similar fix, UI wise:

![capture G1p3qU_optimized](https://user-images.githubusercontent.com/58601/143213843-ac4834f8-ef7f-4e23-bf5f-2f3102246909.gif)

[2021-11-24 12:12] nikku commented on #1533
Hi @zxiaozhou! Unfortunately your repository is too big for me to set it up in a [codesandbox](http://codesandbox.io/).

As this seems to be related to whether things are embedded in a model (or not), I'd suggest you to debug the label elements and the computed CSS these are using. Maybe the modal overrides font sizes?

[2021-11-24 12:51] nikku opened #1537 "Account for embedded `bpmndi:BPMNLabel` elements"
__Is your feature request related to a problem? Please describe.__

Other vendors serialize `bpmndi:BPMNLabel` elements on elements with embedded labels (cf. tasks) and rely on them for rendering, too (cf. https://github.com/camunda/camunda-modeler/issues/2566).

We must ensure to not accidentally break the diagram by picking up and maintaining the label information.

__Describe the solution you'd

[2021-11-29 15:47] issaouedraogo commented on #1258
Hey sorry, Hopping I am late in this, I am having the same issue, would someone mind giving me some pointers on how mock this library?

[2021-11-29 16:18] ealexhaywood commented on #1258
Hey there, "mock" may not be the right word, but we used https://github.com/puppeteer/puppeteer to test click/drag/keyboard behavior in our BPMN rendered content

[2021-11-30 08:52] #1534 closed

[2021-11-30 08:52] nikku commented on #1534
Closing due to inactivity.

[2021-11-30 08:53] nikku commented on #1533
Closing due to inactivity.

[2021-11-30 08:56] zxiaozhou commented on #1533
@nikku I don't think it's overwritten, because I just move the model and it's back to normal, if it's overwritten, it shouldn't be able to move it back to normal

[2021-12-01 13:00] marstamm opened #1539 "Toggle Collapse/Expand for subprocesses"
- [ ]  Add / remove planes accordingly
- [ ]  Move elements into / out of planes
- [ ] Reconnect message flows

[2021-12-01 16:24] barmac opened #1540 "`bpmndi:BPMNLabel` is not set on `bpmndi:BPMNShape`s for internal labels"
__Describe the Bug__

We do not set `bpmndi:BPMNLabel` on a `bpmndi:BPMNShape` when the label is not external (movable), although it's required by the spec.

[On page 411 of the BPMN 2.0 spec](https://www.omg.org/spec/BPMN/2.0/PDF#page=411), it's specified that:

Which means that we should set the label if we want to perform diagram interchange with other vendors correctly. The bounds are not requ

[2021-12-02 13:54] nikku opened #1541 "Inserting gateway fails with `Cannot read properties of undefined (reading 'segmentIndex')`"
__Describe the Bug__

When dropping a gateway onto a flow the editor may blow up with the following error:

[code]

Attached a screen capture of the interaction:

![capture zTuwVn_optimized](https://user-images.githubusercontent.com/58601/144435022-881cace6-c2d4-45bc-b2b2-08118f04a74e.gif)

__Steps to Reproduce__

1. Open [test diagram](https://github.com/bpmn-io/bpmn-js/files/7642424/test.bpmn.tx

[2021-12-02 16:52] nikku commented on #1541
Is :one: hard to accomplish? I'd love to see it in action to get a feeling for it.

[2021-12-02 16:53] marstamm commented on #1541
Should be easy enough, I'll create a branch tomorrow

[2021-12-02 22:07] nikku commented on #1541
After giving it another thought, I'd go with option :two:. https://github.com/bpmn-io/bpmn-js/pull/1542 outlines the rationale.

[2021-12-03 07:54] #1541 closed

[2021-12-03 07:57] marstamm commented on #1541
I tried it out and agree. :two: feels "right"

[2021-12-03 16:23] barmac opened #1544 "Incorrect `BPMNEdge#waypoints` is added when creating/appending shape"
__Describe the Bug__

When I append or create a shape from another shape via the context pad, the added connection contains an incorrect attribute as seen below:

[code]

__Steps to Reproduce__

1. Append a shape via context pad
2. now this happens

I added a test case which allowed to identify the broken commit. It's on the branch: https://github.com/bpmn-io/bpmn-js/tree/incorrect-di-attrs

The t

[2021-12-03 16:37] nikku commented on #1544
Thanks for opening this issue. I'll have a look.

[2021-12-03 16:39] nikku commented on #1544
Easy fix. We accidentally broke this via https://github.com/bpmn-io/bpmn-js/commit/bb9dc16cace353ccfb2e67a85e248ae91faaf962#diff-dc6b2f2490723717034ccc2a20ba8e375f76fd64f6c4130357268a1b7ea01b0dR115.

[2021-12-03 19:32] nikku commented on #1544
We would have detected this one easily, _if_ we did run the latest trunk against our [integration test suite](https://github.com/bpmn-io/bpmn-js-integration).

[2021-12-03 19:45] #1544 closed

[2021-12-06 08:11] marstamm opened #1546 "Ensure compatibility with single-plane imports"
- Single imports were a compromise for multi-diagram files when we did not support multi-plane imports
- We can now import multiple diDiagrams at a time
- Instead of "single diagram", `viewer.open()` should just switch to the corresponding plane

- When a Diagram has multiple DI representations, ensure that only one is loaded

[2021-12-06 11:59] Makatumba opened #1547 "Moving one element removes incoming flows of another element"
__Describe the Bug__

__Steps to Reproduce__

1.  create two elements of the same type
2.  put the first element on the flow of the second element
3.  move the first element along the second flow

This issue can be reproduce on [demo.bpmn.io](https://demo.bpmn.io/new):

![bpmn-js](https://user-images.githubusercontent.com/16556148/144842065-924311d7-2d30-4e74-af1e-26e99dc0d762.gif)

__Expected Beh

[2021-12-06 12:27] nikku commented on #1547
Could you elaborate what you expect here?

An _end event_ cannot have outgoing flows, hence, as you drop it on the connection the following happens: The outgoing connection (illegal) is not being created.

[2021-12-06 12:27] #1547 closed

[2021-12-06 15:39] hamidrezaabroshan opened #1548 "Make diagram accessible for screen readers (blind and visually impared)"
Hi,
I filed <a href="https://github.com/camunda-community-hub/zeebe-simple-monitor/issues/334#issuecomment-986790764"> this bug </a> and they said that the bug relates to bpmn.io.

As you probably can guess, the canvas html element is not accessible  by default for screen readers because they can only read textual information.
As this component may used several time in zeebe simple monitor app, fi

[2021-12-06 15:47] nikku commented on #1548
@hamidrezaabroshan Which exact information would you like to have available for each flow node?

I believe you filed a very similar issue with https://github.com/camunda/camunda-modeler/issues/2588, right?

What shall be different in this particular case?

[2021-12-06 18:23] hamidrezaabroshan commented on #1548
@nikku,
I think that this issue is for different app.
this issue is for <a href="https://github.com/camunda-community-hub/zeebe-simple-monitor"> zeebe simple monitor</a> and that issue is fore <a href="https://github.com/camunda/camunda-modeler">camunda-modeler </a>

Also, I think solving this issue is different and simpler.
If you think that these are same, please comment down below or if you thi

[2021-12-06 18:36] hamidrezaabroshan commented on #1548
In simple monitore, /views/instances/{key}  page shows a diagram that indicates which flow is executed and which has errors.
I just want name of flows and theirs status in a logical series.
I don't know if this diagram shows more info or not.

[2021-12-07 07:05] nikku commented on #1548
Both views show the same diagram, rendered by [bpmn-js](https://github.com/bpmn-io/bpmn-js). So I assume that it is more or less the same issue.

If we can make the diagram accessible to you, it will automaticallybe accessible in the Camunda Modeler, too (https://github.com/camunda/camunda-modeler/issues/2588).

[2021-12-07 08:33] Satsiki commented on #1533
Did you solve it, I also encountered this problem

[2021-12-07 08:33] Satsiki commented on #1533
Did you solve it, I also encountered this problem

[2021-12-10 09:49] graceful-qi commented on #1533
I also found this problem, mainly triggered when the window is opened for the first time. Do you have a solution now?

[2021-12-10 19:03] zxiaozhou commented on #1533
@nikku @Satsiki @graceful-qi I didn't solve it。
@nikku I think it's really arbitrary for you to just say CSS overlay. As of today's test, only Chrome 96 is abnormal, and versions below 96 and the latest 97 beta are normal
<img width="1663" alt="iShot2021-12-11 03 00 11" src="https://user-images.githubusercontent.com/62740686/145627822-c13aa8fa-74ef-4ad3-a5d8-d216a0b62128.png">

[2021-12-10 19:07] zxiaozhou commented on #1533
@graceful-qi @pinussilvestrus @Satsiki
Chrome 97 beta is normal, or less than 96 is normal, so just wait for chrome to come out with a new version

[2021-12-13 14:29] hamidrezaabroshan commented on #1548
Hi again @nikku, I urgently need to work with the  Simple monitor and Camunda  modeler in my job. If possible, I want to have a session with tech people.
If possible, while the dev team is resolving these accessibility issues, I need some info to write a console client that gets me the info that I need at work.
Thanks.

[2021-12-13 15:54] nikku commented on #1548
@hamidrezaabroshan We'll not be able to follow up on this issue _immediately_.

For your specific needs, consider if the BPMN document or the [BPMN model](https://github.com/bpmn-io/bpmn-moddle), or the [diagram model](https://bpmn.io/toolkit/bpmn-js/walkthrough/#data-model) may provide you with the information you need.

Also consider to ping this back to simple-monitor. They may be able to work

[2021-12-13 16:42] hamidrezaabroshan commented on #1548
@nikku , "Also consider to ping this back to simple-monitor. They may be able to work around this issue, i.e by providing accessibility information on top of or next to the diagram."
I created issue. What else can I do?

[2021-12-14 01:27] graceful-qi commented on #1533
@zxiaozhou Thank you for your reply, after I tested it and found it to be true, it looks like I'll have to wait for the chrome update.

[2021-12-14 07:57] nikku commented on #1533
Thanks for root causing this as a Chrome bug.

In rare cases you see this happening. Closing this issue.

[2021-12-14 07:57] #1533 closed

[2021-12-17 06:05] Fundamentalistic commented on #331
Good day. bpmn-js doesn`t updat label position when I change waypoints

[2021-12-17 07:05] nikku commented on #331
@Fundamentalistic Please create a new issue, reference this one and provide clear steps to reproduce. Thank you.

[2021-12-23 10:34] hungdaica77 opened #1555 "Error when copy Pool"
__Describe the Bug__

Duplicate Pool id when copy Pool

__Expected Behavior__

1. Create Pool with Task inside Pool
2. Copy Pool and paste
3. Export
4. Import file was exported

![fail](https://user-images.githubusercontent.com/15230555/147228024-18c202f6-9b3f-4128-8469-1ce583273a3c.gif)

[code]

__Environment__

 - Browser: [Chrome]
 - OS: [Windows 10]

[2022-01-03 09:56] MaxTru commented on #1555
I cannot reproduce this using
https://demo.bpmn.io/new

See recording:
![duplicatePoolAndSave](https://user-images.githubusercontent.com/42800119/147917961-2604acc2-17b4-4af4-8080-a9016dacf20c.gif)

Can you please give more detailled steps to reproduce this?

[2022-01-05 03:08] hungdaica77 commented on #1555
After export. You need import file was exported.

[2022-01-05 10:21] marstamm opened #1556 "Copy-Paste multiple layers"

[2022-01-05 11:47] MaxTru commented on #1555
Ah got it - thanks. I can reproduce this. We will have a look.

[2022-01-05 12:30] MaxTru commented on #618
Also reported by a customer. Use case:

[2022-01-05 14:41] MaxTru commented on #618
I had a first look:

* We ignore `element.click` events fired by the touchModule, because they do not contain a button type (e.g., `0` for leftMouseClick or `2` for rightMouseClick) => https://github.com/bpmn-io/diagram-js/blob/develop/lib/features/interaction-events/InteractionEvents.js#L73. So here we could in principle monkeyPatch the button time when [firing from touchEvents](https://github.co

[2022-01-05 16:09] EricKalesky commented on #618
Without the double click on touch screens we cannot really use Cawemo during workshops. Currently we use whiteboards, pen and paper. But we have three 75'' touch screens next to each other. If we could use Cawemo already during the first process capture it would save a lot of time of workshop postprocessing. Looking foreward to the #springcleaning

[2022-01-06 10:22] pinussilvestrus opened #1558 "Builds based on `master` are broken due to incompatible diagram-js version"
__Describe the Bug__

Our CI on branches targeting `master` is currently broken, cf. [this build](https://github.com/bpmn-io/bpmn-js/runs/4725608553?check_suite_focus=true#step:6:18).

It's working fine locally though.

__Steps to Reproduce__

1. Checkout [this build](https://github.com/bpmn-io/bpmn-js/runs/4725608553?check_suite_focus=true#step:6:18)
2. See the build is failing on 25 broken test

[2022-01-06 10:23] pinussilvestrus commented on #1558
Seems like we are using a not yet supported diagram-js version (8.0.0): https://github.com/bpmn-io/bpmn-js/runs/4725608553?check_suite_focus=true#step:6:18

That throws errors due to unsupported API in Canvas#setRootElement. Maybe our `wiredeps` script is broken.

Cf. [this information](https://github.com/bpmn-io/bpmn-js/runs/4725608553?check_suite_focus=true#step:6:18) it is using diagram-js@8, a

[2022-01-06 10:27] pinussilvestrus commented on #1558
We are good on `develop` because we already added the necessary API updates, cf. https://github.com/bpmn-io/bpmn-js/commit/4e08a1c703e71866ef1b11d2196daa2374a618ec

[2022-01-06 10:41] pinussilvestrus commented on #1558
Seems like we don't properly skip the `wiredeps` task on `master` as expected. It works on [Windows though](https://github.com/bpmn-io/bpmn-js/runs/4725608596?check_suite_focus=true#step:6:3), maybe something breaks with the environment variables.

[2022-01-06 12:18] pinussilvestrus commented on #1558
So it seems like it is intended behavior that we [fall back to `diagram-js#develop`](https://github.com/bpmn-io/bpmn-js/blob/develop/tasks/wiredeps#L22) on any branch except `master`. In simple `push` builds, it's almost impossible to detect that `master` was the base branch.

What we could do is to introduce a flag that can be used inside commit messages to skip wiredeps, e.g.

[code]

[2022-01-06 13:02] MaxTru commented on #618
Fixed upstream via https://github.com/bpmn-io/diagram-js/pull/606

[2022-01-07 09:51] #618 closed

[2022-01-08 07:01] 1664017494 opened #1561 "Unable to preventDefault inside passive event listener invocation On Console"
Unable to preventDefault inside passive event listener invocation  On Console

int develop environment,  move the canvas will has
![image](https://user-images.githubusercontent.com/57864571/148635127-b9f8800d-c893-4f1b-8789-0759b178540b.png)

toSolve:

![bpmn-js控制台报错](https://user-images.githubusercontent.com/57864571/148635056-91b7b377-ab16-4439-9b21-305d742f338b.png)

change the  'event.preventD

[2022-01-10 06:09] loongcaser opened #1562 "Why can't the value of process's ID start with a number? When the ID of the process is a number, rendering will fail"
Why can't the value of process's ID start with a number?  When the ID of the process is a number, rendering will fail

__Environment__
 - Browser: [e.g. Chrome 75.0.3770.100（正式版本）]
 - OS: [e.g. Windows 7]
 - Library version: [e.g. 2.0.0]
 - bpmn-js: [e.g. 7.5.0]

[2022-01-10 07:50] barmac commented on #1562
According to the specification, IDs have to be valid QNames and a QName cannot start with a number. If your BPMN contains "id" which starts with a number, it's a broken diagram. Cf. https://en.wikipedia.org/wiki/QName

[2022-01-10 07:50] #1562 closed

[2022-01-10 07:53] barmac commented on #1562
BTW the error emitted by the modeler explicitly mentions the ID problem:
[code]

[2022-01-10 08:23] pinussilvestrus commented on #1561
Can you maybe use our [bug issue template](https://github.com/bpmn-io/bpmn-js/issues/new?assignees=&labels=bug&template=BUG_REPORT.md) to give further information? Thank you!

[2022-01-10 09:50] loongcaser commented on #1562
Thank you very much

[2022-01-10 12:05] pinussilvestrus commented on #1558
@barmac @nikku do you have any thoughts about this one?

[2022-01-10 12:25] nikku commented on #1558
I shared [an alternative to consider](https://github.com/bpmn-io/bpmn-js/pull/1559#issuecomment-1008822534).

We should keep in mind that the current `develop` rework in bpmn-js is fairly un-usual and our current approach was not built with that in mind. We shall aim to make master the new stable, i.e. simply release a new bpmn-js alpha some day, soon.

[2022-01-10 14:58] nikku opened #1564 "Alignment markers disappeared on `develop`"
__Describe the Bug__

With `bpmn-js@develop` the alignment markers disappeared from the canvas, leaving me clueless what element I'm currently snapping the selected element to:

![capture ClKWHS_optimized](https://user-images.githubusercontent.com/58601/148786859-11a6474e-44df-47a5-bf21-ba95fb07b193.gif)

__Steps to Reproduce__

1. Checkout `bpmn-js@develop`
2. Run `npm start`
3. Try to align two

[2022-01-10 15:06] nikku commented on #1564
Root caused the issue; we do not define a `--snap-line-stroke-color` variable as printed by the developer tools, too:

![capture kFgmou_optimized](https://user-images.githubusercontent.com/58601/148788378-ebdd87aa-e184-4d3b-885d-9887b3e76faa.gif)

[2022-01-11 13:59] pinussilvestrus commented on #1558
We decided to fix it by creating an alpha release: https://github.com/bpmn-io/bpmn-js/pull/1559
We can close this issue once the release is done.
/cc @marstamm

[2022-01-11 14:01] marstamm commented on #1558
Release is done: https://github.com/bpmn-io/bpmn-js/releases/tag/v9.0.0-alpha.0

[2022-01-11 15:08] pinussilvestrus commented on #1558
[Looks good](https://github.com/bpmn-io/bpmn-js/pull/1557), thanks @marstamm!

[2022-01-11 15:08] #1558 closed

[2022-01-12 08:14] #1511 closed

[2022-01-12 08:14] #1536 closed

[2022-01-12 08:14] #1539 closed

[2022-01-12 08:37] nikku opened #1565 "Diagram jumps wrapping process in pool"
__Describe the Bug__

![capture gstW3T_optimized](https://user-images.githubusercontent.com/58601/149092385-c30308a4-e70a-4d70-bb26-4d71cd154ad6.gif)

__Steps to Reproduce__

1. model process
2. wrap in pool
3. __See diagram jump__

__Expected Behavior__

Diagram stays in current viewport.

__Environment__

 - Browser: Any
 - OS: Any
 - Library version: `bpmn-js@develop`

[2022-01-12 08:44] nikku opened #1566 "Cannot drill out after root change"
__Describe the Bug__

Once I wrapped the process with a pool, moved into a sub-process and drill out an error is thrown:

[code]

As it looks like the drilldown overlay is not aware of root changes going on.

![capture 4HeFbO_optimized](https://user-images.githubusercontent.com/58601/149093282-c547ec1f-6c9e-4e1d-9d5e-11e98953225d.gif)

__Steps to Reproduce__

1. wrap collapsed sub-process with poo

[2022-01-12 08:46] marstamm commented on #1565
Root cause:

When replacing the root element, we reset the viewport, even when it's not a plane change: https://github.com/bpmn-io/bpmn-js/blob/4e08a1c703e71866ef1b11d2196daa2374a618ec/lib/features/drilldown/DrilldownCentering.js#L14

[2022-01-13 10:03] marstamm opened #1569 "Can not drill down after collapsing process using `undo`"
__Describe the Bug__

When I undo a expand operation, the Drilldown overlays get messed up. This Bug was introduced with the update to diagram-js@8

![Recording 2022-01-13 at 11 00 30](https://user-images.githubusercontent.com/21984219/149308587-f5332a18-8546-46f1-b9b4-782c514678b1.gif)

__Steps to Reproduce__

1. Open https://github.com/bpmn-io/bpmn-js/blob/bd20db3aba83072214585700c181761a9358e7a

[2022-01-13 12:24] #1569 closed

[2022-01-13 13:27] nikku commented on #1569
Best bugs are no bugs! :)

[2022-01-14 09:11] MaxTru opened #1575 "Handle rename of plane when inside the plane"

[2022-01-14 10:54] #1565 closed

[2022-01-14 11:32] nikku commented on #907
You may double-check our improved touch support shipped with [`bpmn-js@8.9`](https://github.com/bpmn-io/bpmn-js/blob/develop/CHANGELOG.md#890). Try it out on [demo.bpmn.io](https://demo.bpmn.io/). Closing this issue for the time being.

[2022-01-14 11:32] #907 closed

[2022-01-14 11:34] nikku commented on #449
The recent [`bpmn-js@8.9`](https://github.com/bpmn-io/bpmn-js/blob/develop/CHANGELOG.md#890) release ships with improved touch support. Please give it a try and report back.

[2022-01-14 13:00] #1508 closed

[2022-01-14 13:36] #1564 closed

[2022-01-17 15:13] marstamm commented on #1555
**Root Cause**

When morphing the Process into a Collaboration, the ID get's unclaimed.
https://github.com/bpmn-io/bpmn-js/blob/fe11c2ee78000449ba20412c99be30be95bf776d/lib/features/modeling/behavior/UnclaimIdBehavior.js#L50

With https://github.com/camunda/camunda-modeler/issues/1410, we keep the IDs when copying Elements, so we create the process with the same ID again.

**Solution Sketch**
Dete

[2022-01-18 11:06] pinussilvestrus commented on #1561
I'm closing this due to incomplete information. Feel free to reopen.

[2022-01-18 11:06] #1561 closed

[2022-01-18 11:56] ys1121 opened #1577 "Drag leads to connection errors"
__Describe the Bug__
Drag leads to connection errors

__Steps to Reproduce__

![cazgy-ztg4z](https://user-images.githubusercontent.com/35028530/149933056-dee687fe-bf7c-4783-bd07-94056721a010.gif)

__Expected Behavior__

__Environment__

 - Browser: Microsoft Edge 97
 - OS: Windows10
 - Library version: 7.4.0

[2022-01-18 12:04] pinussilvestrus commented on #1577
Thanks for reporting! Can you explain in which cases you need to model such stacked tasks?

![image](https://user-images.githubusercontent.com/9433996/149934190-4d430a47-a11c-4cec-bcfe-0b0c0ebdb118.png)

[2022-01-19 01:09] ys1121 commented on #1577
The figure shows the operation that can reproduce the problem. In our usage scenario, we need to draw a large number of task nodes. In this case, there will be a certain chance of wiring errors.

[2022-01-19 08:20] MaxTru commented on #1555
Closed via https://github.com/bpmn-io/bpmn-js/pull/1578

[2022-01-19 08:20] #1555 closed

[2022-01-20 07:48] #1540 closed

[2022-01-21 13:09] philippfromme opened #1581 "Multi-Instance Properties Lost When Changing Between Parallel and Sequential"
__Describe the Bug__

![bvc7qV9Mw8](https://user-images.githubusercontent.com/7633572/150531680-3f51471b-df5f-4b08-b6c1-d49b2e6a2209.gif)

__Steps to Reproduce__

1. Create sub-process
2. Add parallel multi-instance
3. Add loop cardinality
4. Change to sequential multi-instance
5. Multi-instance properties lost

__Expected Behavior__

Multi-instance properties not lost.

__Environment__

 - Librar

[2022-01-21 13:16] philippfromme commented on #1581
The properties are lost because they aren't copied when changing multi-instance:

[code]

See https://github.com/bpmn-io/bpmn-js/blob/v8.9.0/lib/features/popup-menu/ReplaceMenuProvider.js#L434.

[2022-01-24 10:46] #1439 closed

[2022-01-26 08:33] nikku commented on #1577
Please share more information:

* If possible, concrete steps to reproduce
* Error message (printed in DEV tools) + What happened before the error

[2022-01-28 15:29] kurtsys-howest commented on #1443
Just wondering, is there any target for support modeling of collapsed subprocesses. Issue #1553 seems to be merged, but in the demo environment ( https://demo.bpmn.io/ ), I can't seem to find it.
(btw, great job! It would be such an amazing thing to have, the subprocess collapse/expand support)

[2022-01-28 15:33] marstamm commented on #1443
Hi @kurtsys-howest ,

Thanks for your interest in this feature :smile:
Please see the main Comment for the current Progress. Some things are still work in Progress, such as Copy/Pasting.

Once everything is done (and this issue is closed), we will release a new major version of bpmn-js, which we will then also be available on the demo Site.

[2022-01-30 15:52] #1575 closed

[2022-01-30 15:56] philippfromme commented on #1556
No context? 🤡 Adding a description also helps the reviewer understand the context of the pull request. 😉

[2022-01-30 19:32] #1556 closed

[2022-01-31 10:23] #1546 closed

[2022-01-31 16:04] #1577 closed

[2022-02-02 09:39] jafz opened #1591 "bpmn-js dependency min-dom references security-issue flagged domify version"
This is a dependency tree issue, when running our project that uses bpmn-io through code vulnerability scans.

bpmn-io version 8.9.1 references min-io 3.1.3 (which is also in this repo). min-io references domify in ^1.3.1. The domify versions up to 1.4.0 have an XSS via prototype pollution security issue, that was fixed ~9 months ago with 1.4.1.

We can require domify to be ^1.4.1 in our package.j

[2022-02-02 11:27] nikku commented on #1591
Thanks for opening this issue. We'll check and get back to you.

To better understand, does this not auto-fix with `npm audit fix`?

Min-dom and domify both adhere to semantic versioning so that shall be picked up automatically, right?

[2022-02-02 14:31] jafz commented on #1591
Thanks, I didn't even think of that.
So, doing a new package.json with just bpmn-js, I seem to be packaging domify in version 1.4.1.
But a npm audit fix still doesn't fix this on our large project - we'd have to regenerate the lock file, I guess.

I'm now assuming that it's standard to rely on npm to fix the dependencies, so I'll just close this issue?
Correct me if I'm wrong, of course. I'm rathe

[2022-02-02 14:31] #1591 closed

[2022-02-08 05:28] falko opened #1594 "Context pad places new task too far away"
__Describe the Bug__

The distance between gatway and next task after an optional task is too long:
![bpmn io issue distance after optional task too long](https://user-images.githubusercontent.com/40038/152923476-ecb68473-a5c3-49bd-b0b1-2f2167b9bc29.jpg)

__Steps to Reproduce__

1. Model an optional task as shown in the screenshot above
2. Add a task after the joining gateway

__Expected Behavior_

[2022-02-10 07:59] nikku commented on #674
Not actually closed by https://github.com/bpmn-io/bpmn-js/pull/1382.

[2022-02-10 12:25] Skaiir opened #1596 "Extend support for embedded `bpmndi:BPMNLabel` elements"
__Is your feature request related to a problem? Please describe.__

Follow-up to #1537:

We have recently added partial support for `bpmndi:BPMNLabel` bounds on embedded labels. This support has come in the form of projecting any positional changes of an `Activity` onto its embedded label bounds. We also, as a simple and compatible solution, clear the internal label bounds entirely during resizing

[2022-02-10 12:32] nikku commented on #1596
Understood. Any plans to tackle it soon? Otherwise I'd move it to backlog.

[2022-02-11 12:24] benhoffmann opened #1598 "Modeling unusable in Safari"
__Describe the Bug__

bpmn.io seems to be unusable in Safari 15.2
I suspect that it broke with some version update.

Cawemo works
bpmn.io demo and Console Modeler doesnt work

__Steps to Reproduce__

![bpmn-io](https://user-images.githubusercontent.com/17595149/153590936-39cc7064-80ae-4657-8d07-43e512f5a3ee.gif)
![cawemo](https://user-images.githubusercontent.com/17595149/153590945-88dbbbe0-55b7-4

[2022-02-11 13:03] barmac commented on #1598
Thanks for reporting. I cannot reproduce it in version 14.1.1 (16611.2.7.1.4) but will upgrade and check again.

[2022-02-11 14:36] barmac commented on #1598
I've just upgraded MacOS to 12.2.1 and it comes with Safari 15.3. Fortunately, demo.bpmn.io works correctly with that version of the browser so I'd suggest to update. However, this means that I need to close this issue as we don't support specific outdated versions of any browser.

[2022-02-11 14:36] #1598 closed, assigned to nobody

[2022-02-15 07:44] sentry-io[bot] opened #1601 "Error: no parent for <Group_0evfkzo> in <Activity_1wcp392_plane>"
__Describe the Bug__

With https://github.com/bpmn-io/bpmn-io-demo/commit/4c004617b20893a1eeb85074b8e22fecaa9fe856 we seem to have introduced an error which can be seen via Sentry issue [BPMN-IO-DEMO-2AD](https://sentry.io/organizations/camunda-modeling/issues/3003618132/?referrer=github_integration)

__Steps to Reproduce__

unfortuently unclear yet

__Expected Behavior__

No new errors after vers

[2022-02-15 07:51] MaxTru commented on #1601
Same issue, different project => https://github.com/camunda/camunda-modeler/issues/2751. See this issue also for root cause

[2022-02-15 07:51] marstamm commented on #1601
See https://github.com/bpmn-io/bpmn-js/pull/1599 for the fix

[2022-02-15 07:54] sentry-io[bot] opened #1602 "Error: no parent for <DataOutputAssociation_1v9jajb> in <Activity_0q7dni7_plane>"
__Describe the Bug__

Introduced bug with bpmn-js@9-alpha.2.
Discovered using Sentry

__Steps to Reproduce__

![DataAssociationParent](https://user-images.githubusercontent.com/42800119/154017459-e19bdd7f-0f79-420e-ae2a-0150c7e50286.gif)

__Expected Behavior__

Can have DataOutputAssociation within subprocess

__Environment__

See Sentry

__Context__

Sentry Issue: [BPMN-IO-DEMO-2AM](https://sentr

[2022-02-15 07:59] MaxTru commented on #1602
Same issue, different repo => https://github.com/camunda/camunda-modeler/issues/2752

[2022-02-16 04:45] chenaichenet opened #1603 "About labels </bpmndi:BPMNEdge>"
When I regenerate the XML and there is a child tag < DC: boundaries >, a parent node tag < bpmndi: bpmnlabel > will be added. And the tag (< bpmndi: bpmnlabel >) is not defined during generation. Is it correct, or is there any method to avoid the generation of the tag.
The case is as follows, which is part of the newly generated XML file:
`                        <bpmndi:BPMNEdge id="line_3_di" bp

[2022-02-16 07:41] nikku commented on #1603
Thanks for opening this issue. Could you update it to [match one of our issue templates](https://github.com/bpmn-io/bpmn-js/issues/new/choose)? I'm not sure if you ask a question or would like to report a bug.

Also, what do you refer to as "re-generate the XML"? What do you start with, how do you _regenerate_?

Please provide us with the full steps (and resources, i.e. an example diagram) if you

[2022-02-16 09:00] houzhonghu commented on #1603
Hello, first of all, thank you for your reply. I mentioned above that issues is a participant in the same project. The current situation is like this. In the Java environment, use dom4j to generate xml, and finally use bpmn to parse the XML file and display the nodes and connection.
By fetching the relevant data from the database, generating XML, and parsing it with bpmn, the first request (ie an

[2022-02-16 11:42] nikku commented on #1603
Unfortunately I cannot dive into it at this stage. Event after your explanation it is not clear how our library is part of the issue, and how I can reproduce it.

[2022-02-17 07:40] benhoffmann commented on #1598
Hi @barmac , I can confirm that demo.bpmn.io works correctly with the latest version of Safari.

The Cloud Console Modeler still doesn't work, but I found the issue https://github.com/camunda/web-modeler/issues/349 which is already addressing. Just adding this for context.

[2022-02-17 08:07] barmac commented on #1598
Hi @benhoffmann, thanks for getting back to me. I am happy that the issue on the demo website is resolved for you. Thanks for notice on the web modeler.

[2022-02-17 08:58] chenaichenet commented on #1603
Thank you for your reply. The problem here has been solved. It is brought when the front end passes parameters.

[2022-02-17 09:14] #1603 closed

[2022-02-17 10:59] CatalinaMoisuc commented on #1598
Hi @benhoffmann see the latest update on https://github.com/camunda/web-modeler/issues/349#issuecomment-1042770322.

[2022-02-17 12:31] MaxTru commented on #1601
Closed via https://github.com/bpmn-io/bpmn-js/pull/1599

[2022-02-17 12:31] #1601 closed

[2022-02-17 12:31] MaxTru commented on #1602
Closed via https://github.com/bpmn-io/bpmn-js/pull/1599

[2022-02-17 12:31] #1602 closed

[2022-02-18 14:47] marstamm commented on #1443
Released as [v9.0.0](https://github.com/bpmn-io/bpmn-js/releases/tag/v9.0.0)

[2022-02-21 09:40] nikku opened #1606 "Creating groups inside collapsed sub-processes breaks BPMN export"
__Describe the Bug__

If I create a group inside a collapsed sub-process and save the result a warning shows on re-import:

[code]

__Steps to Reproduce__

1. Model an embedded, collapsed sub-process and navigate to it
2. Add a group to the collapsed sub-process
3. Save the diagram
4. Re-import the diagram
5. __See the warning above `unresolved reference <CategoryValue_01k5toe>`__

__Expected Beha

[2022-02-21 09:47] marstamm commented on #1606
I cannot reproduce this issue. Can you share the exported XML?

![Recording 2022-02-21 at 10 46 25](https://user-images.githubusercontent.com/21984219/154929736-bdeb187b-8122-4166-b0c1-767097833e28.gif)

[2022-02-21 09:48] marstamm commented on #1606
Never mind, I can reproduce it. It's in the warnings in the promise

[2022-02-21 16:38] #1606 closed

[2022-02-24 11:31] nikku opened #1609 "Direct editing in sub-process plane stays open after navigation"
__Describe the Bug__

When I switch planes with direct editing active the editing box remains open (despite the element not being visible anymore).

![capture vuQ6Mm_optimized](https://user-images.githubusercontent.com/58601/155515880-d0f6feb4-6380-4c64-a709-7819926e17b4.gif)

__Steps to Reproduce__

1. Open [test diagram](https://github.com/bpmn-io/bpmn-js/files/8132113/direct-editing.bpmn.txt)
2

[2022-02-24 14:13] marstamm commented on #1609
I would go with a "submit" instead of a "cancel". It feels more intuitive when drilling down:
![Recording 2022-02-24 at 15 11 50](https://user-images.githubusercontent.com/21984219/155540196-e1818d0a-8af5-46cc-adc6-46411f9de4f5.gif)

vs. a cancel, where the Breadcrumbs show the ID instead:
![Recording 2022-02-24 at 15 10 13](https://user-images.githubusercontent.com/21984219/155540260-c61cc8b3-c2d

[2022-02-24 14:23] #1609 closed

[2022-02-28 08:25] jonyshi opened #1611 "Custom rules, move element lines and disappear"
After customizing the rule, the drag element connection is lost?

![image](https://user-images.githubusercontent.com/21353460/155948936-c3ef5a2c-092c-443d-91de-0a3c50f2e027.png)
![image](https://user-images.githubusercontent.com/21353460/155948950-77b28239-d89c-4bdf-ab57-1f5de421502a.png)

After dragging an element
![image](https://user-images.githubusercontent.com/21353460/155949001-d3580d0e-93df

[2022-02-28 15:44] hkupitz commented on #768
Since I've had a user ask me about this today, I'd like to bring this topic up again. I agree with @nevries that having keyboard shortcuts for placing/adding new elements would be greatly beneficial for power users to speed up the modeling process.

I could not only imagine this for the context menu actions of selected elements, but also in general to attach a new element of a given type at the mo

[2022-03-01 10:55] smbea commented on #1611
@jonyshi please use our template for bug reporting.

The issue seems to be with extending bpmn-js, and not a bug within the library. For help in using and extending bpmn-js, please visit our [bpmn-io forum](https://forum.bpmn.io/).

[2022-03-01 16:50] nikku commented on #945
Fixed with bpmn-js@9:

![capture QxxhiG_optimized](https://user-images.githubusercontent.com/58601/156212301-e50127fb-2e41-4a01-80b2-abb9b79791a1.gif)

[2022-03-01 16:50] #945 closed

[2022-03-01 16:55] nikku commented on #991
Closed with bpmn-js@9:

![capture vKfFt9_optimized](https://user-images.githubusercontent.com/58601/156213156-b5692c87-3489-45d0-8b96-b94c2afded66.gif)

[2022-03-01 16:55] #991 closed

[2022-03-02 03:29] jonyshi commented on #1611
I sent a post, hesitated and failed to pass the review. The problem bothered me. Do I need your help?

[2022-03-02 05:33] jonyshi opened #1613 "Custom rules, move element lines and disappear Unresolved"
__Describe the Bug__

After customizing the rule, the drag element connection is lost?

my code

https://forum.bpmn.io/t/custom-rules-move-element-lines-and-disappear/7285

Online example:

https://codesandbox.io/s/bpm-costom-rules-rsmfhq?file=/src/rules/CustomRules.js

__Steps to Reproduce__

1. After I expanded the custom rule, the mobile element connection is lost. Do you need your help? Thank

[2022-03-04 13:50] wormtql opened #1615 "Support auto layout"
__Is your feature request related to a problem? Please describe.__

I have an application which generates bpmns, but without layout information.
Although currently there is `bpmn-auto-layout` available, in my test it does not support multiple process.
Is it possible to do an enhanced version of auto layout?

__Describe the solution you'd like__

I wish to auto layout multiple process bpmns.
It doe

[2022-03-09 12:52] nikku commented on #1615
We'll likely not offer automatic layout capabilities at the core of this library.

Did you open a feature request in `bpmn-auto-layout`?

Closing this as won't fix.

[2022-03-09 12:52] #1615 closed

[2022-03-10 18:16] davegoldin opened #1616 "Distinguish selected element vs. hover"
__Is your feature request related to a problem? Please describe.__

When you create an element or select an existing element, a blue dashed border appears around the element. If you click the element again (which unselects the element), the blue dashed border remains if your cursor is hovered over the element. And if an element is selected, but you hover your cursor over another element, they will

[2022-03-14 12:48] barmac opened #1617 "Sequence flow label left hanging when a subprocess is collapsed"
__Describe the Bug__

Given there is an expanded subprocess with a labeled sequence flow inside, when I collapse the subprocess, the label is left out hanging. The label is not present when I drill down and disappears when I move it in the process diagram.

https://user-images.githubusercontent.com/28307541/158175224-484937c9-669a-4e1c-a9e5-a3a6a9f52789.mov

__Steps to Reproduce__

1. Create a sub

[2022-03-15 15:42] marstamm commented on #1617
After ~1 hour of coming up with unsatisfying solutions, I found the actual code we should change:

https://github.com/bpmn-io/bpmn-js/blob/e41442b393f6acad8a38d1d812967e956c9ea47c/lib/features/ordering/BpmnOrderingProvider.js#L134

There is no reason to use the labelTarget as reference for the root, we can just use `newParent` to find the root. Yes, this allows labels to be on different root eleme

[2022-03-16 07:53] #1617 closed

[2022-03-16 12:18] 3ronco opened #1619 "Sub process doesn't render dotted lines despite that they exist in the XML file."
Although rather uncommon we use a subprocess node with the ability to give 'documents' or 'parameters' to them via a _DataObjectReference_ node. Earlier versions showed these flows as a dotted line among a document and a subprocess.
The recent version doesn't render these arrows anymore although they can be found as shape nodes in the XML file. It's not happening with earlier versions eg. _V8.7.1_

[2022-03-16 14:00] marstamm commented on #1619
Hi @3ronco ,

thank you for reporting this bug. I was able to reproduce and verify the bug.

## Root Cause

The dataInput and dataOutput associations are children of the Activity, where sequence flows are part of the Process.

related BPMN Spec:
![image](https://user-images.githubusercontent.com/21984219/158606674-b4a87dff-62dc-4271-893a-890171a30129.png)

With bpmn-js@9, we move all children of s

[2022-03-16 16:54] #1619 closed, assigned to marstamm

[2022-03-17 21:19] nikku commented on #1616
Could you show a screen capture of the fix you propose? Maybe it is something that is worth adopting.

CC @andreasgeier

[2022-03-17 21:22] nikku commented on #1613
Thanks for opening this issue.

The reason that the connection disappears is that a sequence flow is not allowed between data stores.

In between data stores only associations and data associations are allowed. What is not allowed is cleaned up upon modeling.

[2022-03-17 21:22] #1613 closed

[2022-03-18 05:10] davegoldin commented on #1616
The css I posted above produces this styling. My cursor (while it did not render in the snapshot) is hovered over "hovered action." Thanks for considering.

![selected-action-solid-blue-border](https://user-images.githubusercontent.com/98906863/158940989-9576b0e9-4b4e-4304-8a81-2cf77af613da.png)

[2022-03-18 07:51] andreasgeier commented on #1616
Distinguishing hover state vs selection is definitely a topic for improvement. There would be more things to consider here, but switching to a solid line is a good first step.

I disagree with the stroke-width of 5px and would suggest 2px instead. That results in:

![Screen Shot 2022-03-18 at 08 49 31](https://user-images.githubusercontent.com/938244/158958845-b9838d79-7c30-40f0-853b-cfb768a4532a.

[2022-03-18 08:38] currandwyer commented on #1616
@christian-konrad @andreasgeier @nikku I fully agree. As discussed with each of you, here is my initial exploration of these possibilities. I would be more than happy to double down on this and create a design specification for us to discuss. [Figma link](https://www.figma.com/file/lGwe6L9OaXpsRNpMu844WU/BPMN-diagram-js?node-id=110%3A4243)
![Screen Shot 2022-03-18 at 09 34 42](https://user-images.

[2022-03-18 09:07] christian-konrad commented on #1616
@andreasgeier  and @currandwyer  please talk to each other on this subject. It seems like you are thinking in a similar  direction.

@currandwyer's proposals in particular will have a great impact on the "finished" look of the models and reduce the cognitive and visual load during modeling.

I put this on the roadmap to considered as a later step, but keeping this open for discussion.
@currandwyer

[2022-03-18 11:21] Ichigo85 opened #1622 "Synergic use of deep linking with multi-diagram plugin"
__Is your feature request related to a problem? Please describe__

Good morning. I developed years ago a multi-diagram plugin which creates "global subprocesses" (as defined on "Fundamentals of Business Process Management" book, p. 101) and allows to navigate between them. Now i saw, with the next release of bpmn-js and  Camunda Modeler 5.0, that you worked on deep linking for subprocesses, which

[2022-03-18 12:38] currandwyer commented on #1616
@christian-konrad I have had some discussions with @nikku on the topic, months ago. I think it is definitely doable within a reasonable scope, but @nikku is the absolute expert on this topic. I suggest considering potentially including hover and selected states for connecting lines in the scope. I will discuss with @andreasgeier next week
![Connecting lines - hover states](https://user-images.gith

[2022-03-20 02:22] rpkoller commented on #1616
i got aware of this issue over in the eca channel on the drupal slack. first a +1 for the initial suggestion to provide a way to distinguish visually  in between the selected and hover state.  and i also like the suggestion in the last comment by @currandwyer to increase the size of the handles. in the current version they are really hard to notice.
in case the dotted line style will be kept for t

[2022-03-22 10:49] nikku opened #1621 "Improve semantic ordering in replace / append menu for "implementation""
__Is your feature request related to a problem? Please describe.__

As a tool we want our users to [get work done as efficiently as possible](https://github.com/bpmn-io/design-principles#do-the-hard-work-to-make-it-simple). Upgrading tasks via the replace menu to make them executable is an important part of the modeling interaction.

To date, however, we don't provide clear guidance to the user on

[2022-03-23 08:32] marstamm commented on #1622
I'll take a look :eyes:

[2022-03-23 09:30] marstamm commented on #1622
I can confirm that his is a problem with our implementation:

https://github.com/bpmn-io/bpmn-js/blob/fb6c6495701e693e76c89d97cf05d96a0c7e5c35/lib/features/drilldown/DrilldownOverlayBehavior.js#L83

We add the initial overlays on `import.done`. However, this event is only fired when `viewer.importXML` is called and not for `viewer.open`. The fix is to listen to `import.render.complete` instead or

[2022-03-23 09:52] barmac commented on #1622
OK so then we can confirm that this is a bug in bpmn-js. Thanks for looking into this @marstamm

[2022-03-23 09:57] Ichigo85 commented on #1622
Hello @marstamm, thank you for your reply! So, if I am right, the first solution competes to bpmn-js, the second is on my plugin, right?
If you confirm that `import.render.complete` will be the solution, I'll wait for the next release :) thank you!

[2022-03-23 10:01] marstamm commented on #1622
Hi @Ichigo85 ,

This is a bug in bpmn-js, so we should take care of firing the correct events in the core. I will fix it before the stable release.

You could fire the `import.done` event yourself as a quick fix, but I do not recommend it. It could lead to unexpected side-effects if we decide to implement it in the core.

[2022-03-23 11:42] marstamm commented on #1622
merged with 574a674381d6449b509396b6d17c4ca94674ea1c

[2022-03-23 11:42] #1622 closed

[2022-03-23 18:23] barmac opened #1624 "Cannot use `bpmnjs.on` in module constructor when eagerly loaded"
__Describe the Bug__

Given I have a module of the following structure:

[code]

when I load it to bpmn-js, I get an error similar to the one below:

[code]

This is due to injector (and modules) being instantiated before `Diagram#get` API is defined, cf. https://github.com/bpmn-io/diagram-js/blob/develop/lib/Diagram.js#L139 The BaseViewer [tries to `get` the EventBus](https://github.com/bpmn-io/b

[2022-03-24 10:14] nikku commented on #1624
If there is a simple fix, we can consider to fix it during spring cleaning.

I'd otherwise close it as _wont fix_ and wait for someone to PR an improvement.

[2022-03-24 10:16] barmac commented on #1624
Yeah, I think the spring cleaning is a right time for this.

[2022-03-24 10:36] nikku commented on #1616
Moving to backlog for the time being. Thanks everyone for the input.

[2022-03-24 10:38] nikku commented on #1621
Moving to backlog as we cannot immediately act upon this; needs further discovery.

[2022-03-28 08:48] nikku opened #1859 "Make create/append actions context aware"
__Is your feature request related to a problem? Please describe__

As a user I'm confronted with a large list of choices in the create, replace, and append menu. While usually I just want to continue to model the way I am used to (i.e. service task only in microservice orchestration case).

__Describe the solution you'd like__

Rather than showing a huge list of options, only show what the user is

[2022-03-29 09:04] WSydnA opened #1625 "BPMN viewer conflicts with strict Content-Security-Policy (CSP) style-src directive"
__Describe the Bug__

__Steps to Reproduce__

1. Run the BPMN viewer within a web application which has strict `style-src` directives in its Content Security Policy (CSP) header

__Expected Behavior__

Style manipulations should be performed in a way which does not break CSP rules.

__More Information__

See: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/style-s

[2022-03-29 09:17] nikku opened #1627 "Support create/append anything"
__Is your feature request related to a problem? Please describe.__

Currently our modeling experience is geared towards quickly building end to end BPMN diagrams. We're a little bit reluctant on modeling for execution use-cases; each and every task has to be manually upgraded when _modeling for execution_. At the same time we've received feedback in the past that people don't know how to model `X`

[2022-03-30 07:10] nikku opened #1861 "Change menu header can move outside viewport"
__Describe the Bug__

In a scenario where page scrolling / margin is involved the change menu can move outside of the visible viewport:

![capture 8A81Vh_optimized](https://user-images.githubusercontent.com/58601/160772303-f385ac42-4bfa-4dea-9928-1b6e1ccb9676.gif)

__Steps to Reproduce__

1. Open [demo](https://bpmn-io.github.io/bpmn-js-connectors-extension/)
2. Add margin-top=100px to drawing can

[2022-03-31 06:46] barmac opened #1860 "When I append event subprocess it is appended as an expanded subprocess"
__Describe the Bug__

Given I try to append an event subprocess, it's appended as an expanded subprocess.

https://user-images.githubusercontent.com/28307541/160992912-d4faf54a-5407-4c97-ab3a-d61dd677b818.mov

__Steps to Reproduce__

Check out the capture.

__Expected Behavior__

One of two:

1. I cannot select event subprocess, or
2. When I select event subprocess, it's created, but it's not conn

[2022-04-01 21:34] diggy128 commented on #1443
Any clue when to expect a new stable release of camunda-modeler to support this?

[2022-04-03 06:38] rasoulMrz opened #1628 "Provide typings as a library like @types/bpmn-js"
As bpmn-js is a large and complex library, using this library without typing information is really a pain!
With the current js lib, you won't know what methods or properties you can use! so you can not take full advantage of the library!

Apart from improving usability, using the current js lib in typescript produces lots of compile erros in imports, so we need to use 'ts-ignores' all over the sou

[2022-04-03 11:53] pinussilvestrus commented on #1628
Thanks for opening the issue and for your feedback. There are already lots of discussions around this topic, e.g. in https://github.com/bpmn-io/bpmn-js/issues/1002. Currently, we have no plans to deliver types for `bpmn-js` and `diagram-js`, that might change in the future though.

I close this issue as a duplicate. Feel free to provide your feedback [in the other issue](https://github.com/bpmn-io

[2022-04-03 11:53] #1628 closed

[2022-04-03 17:36] MaxTru commented on #1443
12.April 2022 is the plan. You can already use it in the [nightly](https://downloads.camunda.cloud/release/camunda-modeler/nightly/)

[2022-04-03 18:18] nikku commented on #1628
Maybe an example where typescript errors as you use it would be interesting here.

I get already fairly detailed typed feedback, as I use the library:

![capture aKxlhy_optimized](https://user-images.githubusercontent.com/58601/161442249-aac8cec3-1a61-4f82-9466-732d14a9ed13.gif)

But there may be a lot of places where there is bugs, and we shall fix these bugs with better doc comments.

[2022-04-04 08:41] nikku commented on #1625
We'd need to decide on a scope (viewer only? navigate viewer?) if we wanted to fix this.

I.e. in our [modeler distribution](https://unpkg.com/bpmn-js@9.0.3/dist/bpmn-modeler.development.js) there is a larger number of that disallowed by CSP usages (search for `assign\([^.\n]+\.style` regex).

[2022-04-04 16:25] diggy128 commented on #1443
We only use stable but April's 12th is just a week away.
Thank you so much so the prompt response!

[2022-04-05 10:10] christian-konrad commented on #757
This is part of refactoring actions (as it applies mostly to the "modify" phase of the developer/modeler job journey).

[2022-04-05 10:39] christian-konrad opened #1629 "Define steps/phases of the modeling + implementation job"
__What should we do?__

We should define the job map including all steps and phases for the modeling and the implementation job (or both together). This job is embedded in the overall automation job.

There are multiple steps to do to get the bigger picture of this:
- Identify the personas
- Identify the touchpoints/setup/context at different phases/steps (e.g. having a code IDE next to the modele

[2022-04-05 10:43] christian-konrad opened #1630 "Provide benchmark models to measure time-to-value in different modeling phases"
__What should we do?__

For all the different phases of modeling and implementation, we should have benchmark models in place to compare and measure relevant metrics for those phases.

Before we can do this, we need a picture of the steps and phases: https://github.com/bpmn-io/bpmn-js/issues/1629

__Why should we do it?__

We want to be able to compare and measure relevant metrics for the differen

[2022-04-06 09:18] nikku commented on #1627
Announced [via forum](https://forum.bpmn.io/t/bpmn-js-create-append-anything-in-preview-feedback-wanted/7440) and pushed a running version to our [BPMN modeling demo](https://demo.bpmn.io).

[2022-04-07 09:18] gvlx commented on #1627
[copy from reply in forum]

Hi,

## Choose next object menu:
It is nice but still a little bit cumbersome
=> interaction sequence `(click, click, type/scroll, click, place, release).`

### suggestion

Would you consider the following: hovering an object (from the diagram or from the sidebar) [target] over a compatible object [source] creates a link source->target immediately.
=> interaction sequen

[2022-04-07 10:43] Skaiir opened #1631 "Morphing a `call activity` to an expanded `sub-process` should add a start event"
__Describe the Bug__

When morphing a call activity to a subprocess, it creates a tiny subprocess which looks just like a task, this is confusing UX wise and a first step to fix this would be for the morphing behavior to match that of tasks and include a start event.

![image](https://user-images.githubusercontent.com/17801113/162180984-929e1805-31a8-49bd-80c0-04dd7e2f7b57.png)

__Steps to Reprodu

[2022-04-07 11:00] Skaiir opened #1632 "Improve the appearance of morphed expanded subprocesses"
__Is your feature request related to a problem? Please describe.__

Currently when morphing to an expanded subprocess, we do not resize the bounds. This is confusing because it is visually not different to a Task (https://github.com/camunda/camunda-modeler/issues/1845).

__Describe the solution you'd like__

Morphing should expand the bounds to give a visual indication that we're dealing with a su

[2022-04-07 14:36] nikku commented on #1103
Closing this one as outdated. We ship [drilldown](https://bpmn.io/blog/posts/2022-bpmn-js-900-collapsed-subprocesses.html) nowadays with should make temporary collapse / expand unnecessary.

[2022-04-18 09:22] hamger opened #1635 "How to connect two elements by a curve？"
I want to connect two elements by a curve，not straight lines，What should I do？

[2022-04-19 10:00] nikku commented on #1635
![image](https://user-images.githubusercontent.com/58601/163979758-d78e9e2c-e015-47d4-8c10-f05e45f80859.png)

Best, N

[2022-04-19 10:00] #1635 closed

[2022-04-21 14:14] smbea commented on #1631
I have some capacity so I will look into this one

[2022-04-22 07:22] #1631 closed

[2022-04-22 07:27] smbea commented on #1632
We resize the expanded subprocess to be like so:
<img width="458" alt="Screenshot 2022-04-22 at 09 26 54" src="https://user-images.githubusercontent.com/25825387/164627424-b7f13ceb-6a7d-44fd-85ae-964d859fdef0.png">

Do you mean to make it larger than this?

[2022-04-22 09:11] marstamm opened #1637 "`Label` property exists after clearing the name"
__Describe the Bug__

When I remove the Label of a Task, the di still has the property `label: null`. This causes issues with other tools, e.g. with linting:

![Recording 2022-04-22 at 10 13 44](https://user-images.githubusercontent.com/21984219/164674929-c8e344a5-71d1-4cab-8611-b4cd5ef87a02.gif)

__Steps to Reproduce__

1. Remove the label of a Task
2. `di.label` exists and is `null`

__Expected

[2022-04-24 15:45] christian-konrad opened #1639 "Change to anything action breaks subprocesses"
__Describe the Bug__

When I turn an expanded subprocess into a collapsed one, I can then turn it into anything else - and when I try to turn it back, I lose it's content. I can still use the undo action, but the behavior itself is confusing here and may lead to unwanted loss of subprocess information. A subprocess should only be convertible into tasks similar to subprocesses and never cause loss

[2022-04-25 07:32] marstamm commented on #1639
This would mean that we create a one-way street of replacements. Once you turn anything into a subprocess, you can never go back. We usually only allow morphing to compatible element types, meaning you can always go back to the previous element.

Some other things that we might consider:

- Only allow replacing Subporcess if it is empty (no data will be lost)
  This could be confusing as well, as

[2022-04-25 08:28] nikku commented on #1639
For the reasons that @marstamm mentioned this is not an easy pick. Let's move this into the backlog and await further user feedback.

Collapsed sub-processes (usable ones) are a new thing, so we may just now start to get more feedback on this.

[2022-04-25 08:41] nikku commented on #1637
Closed via https://github.com/bpmn-io/bpmn-js/pull/1638.

[2022-04-25 08:41] #1637 closed

[2022-04-25 10:45] Skaiir commented on #1632
@smbea Yeah the idea would be to scale it at least to a minimum that we're happy with. Something that makes sense vertically and horizontally. I think the behavior should be resize to min_width * min_height, and then let automatic resizing based on children happen.

[2022-04-25 10:47] smbea commented on #1632
Ok then I will keep this open

[2022-04-26 13:27] WSydnA commented on #1625
Thanks @nikku. I don't think I'm best placed to figure out all the packages that might include this issue, but if I could have some help identifying them I'd be happy to create new PRs to include similar fixes. Your link to the modeler distribution shows this is present in other places, but from that I'm not sure where the fix would be applied (although if it's in the same repo I can have another

[2022-04-27 03:29] o314 commented on #914
Hi there, the collection flag is usable nowadays.
Is there any chance we can set the input/output icon too ?
*May be even the state in right angle brackets*

[2022-04-27 03:33] o314 commented on #1395
Should be reopened IMO
![5-2-1](https://user-images.githubusercontent.com/4026002/165434592-06387fea-da81-49c0-8801-ff32c3148a55.JPG)

[2022-04-27 08:58] nikku commented on #914
Unfortunately this is more complex than it seems.

Data input and data output are elements that strictly require this issue to work.

[2022-04-28 07:51] #1581 closed

[2022-04-28 20:12] rajgoel opened #1641 "Allow to import collapsed subprocesses through API (similar to`importXML`)"
__Is your feature request related to a problem? Please describe.__

Currently it is possible to use `importXML`to load a full process model. However, there is no possibility (afaik) to load a partial model that is used to populate a subprocess.

__Describe the solution you'd like__

It would be great to have a function like `importSubProcessXML` that allows to populate the details of a collapsed s

[2022-05-03 11:03] nikku opened #1642 "Cannot select labels in viewer"
__Describe the Bug__

As a user I want to select labels in a BPMN diagram (viewer distribution). It works sometimes, but really not reliably:

![capture wzmXbY_optimized](https://user-images.githubusercontent.com/58601/166431436-0948dad0-894b-4b41-b18c-3f05d257adb6.gif)

__Steps to Reproduce__

1. Open [viewer starter](https://cdn.staticaly.com/gh/bpmn-io/bpmn-js-examples/master/starter/viewer.htm

[2022-05-04 07:01] andreasgeier opened #1643 "Delete a pool without deleting its contents"
__Is your feature request related to a problem? Please describe.__

I would like to be able to delete a pool without deleting all it's contents to simplify my diagram. Since containment rules forbid to drag the contents out of the pool onto the canvas, I'm forced to do it in XML or copy and paste into a new model.

__Describe the solution you'd like__

Keep the content of the pool when deleting th

[2022-05-04 07:06] o314 commented on #914
Thanks for the feedback. I am unable to drive any js dev today, but last trial seems to be 4 years ago, with only ~ 160 sloc.
@ https://github.com/bpmn-io/bpmn-js/tree/983-data-object-references isnt it? I dunno if it is a complexity or a priority issue.

It's sad that data is not supported enough in bpm land. What runs without a db ? You cannot define a DB Schema/ORM in BPM, a cas d'ecole. But da

[2022-05-04 07:07] andreasgeier commented on #1643
In case of multiple pools on the canvas, it is not possible to place elements outside of pools. Which means a problem for the solution described above. We could remove this limitation and handle it via linting rule to give the user more flexibility for modeling.

[2022-05-04 07:09] o314 commented on #914
I cannot resist, two captures from the excellent course of Dr Weske illustrating object life cycle conformance
![5-5-1](https://user-images.githubusercontent.com/4026002/166636331-575fe6c1-f3fb-4c22-9a6f-8318351f5af7.JPG)

![5-5-2](https://user-images.githubusercontent.com/4026002/166636343-c0f97f0b-387f-449a-9f2e-2eafd5b28c31.JPG)
Essential in my own POV

[2022-05-04 07:16] nikku commented on #914
@o314 It is a complexity and priority issue. Thanks again for your feedback.

[2022-05-04 07:40] nikku commented on #1643
@andreasgeier Exactly. The difference between Miro and us is that elements outside of a pool are not permitted in many situations. I'd rather invest into "extract contents in new diagram" features (a refactoring action).

[2022-05-04 07:46] andreasgeier commented on #1643
I'd rather advocate becoming less rigid in modeling, now that we have linting in place as a solution to make the user aware of issues.

[2022-05-04 08:04] nikku commented on #1643
We are a domain specific editor, not a drawing tool cf. ["Editors, not drawing tools"](https://github.com/bpmn-io/design-principles#editors-not-drawing-tools). As such becoming less rigid (to the point of not being BPMN compliant anymore) means giving up a lot of our existing strength. At the moment, whatever is modeled is valid BPMN, which is one of our strong points.

[2022-05-04 09:26] christian-konrad commented on #1616
Not distinguishing both states makes multi-select somehow weird.
We should address this before we build the multi-select context pad.
Linking it to the epic.
https://user-images.githubusercontent.com/56470362/166655292-7742ccb8-1c37-4d85-a734-c7912cb7f629.mov

[2022-05-10 08:06] smbea commented on #1513
I made some progress on this but wasn't able to finish it. I will move it back to backlog for now. Current progress is here: https://github.com/bpmn-io/bpmn-js/tree/1513-resize-external-labels

[2022-05-16 11:56] Skaiir commented on #1466
Another recording of the item 'appearing' when going over another diagram element. The drag and drop is only partially broken, something funky going on here.

![firefox_M2kwF2J022](https://user-images.githubusercontent.com/17801113/168587152-2cd209d5-985a-4dca-a5d2-a91dd66976b7.gif)

[2022-05-16 12:05] Skaiir commented on #1332
Dragging the association twice fixes this which is interesting

![firefox_AC9lmBMlQH](https://user-images.githubusercontent.com/17801113/168588665-d8fed27a-ff88-454b-b878-8bae32c0e00b.gif)

[2022-05-17 09:54] barmac commented on #1505
I cannot reproduce it anymore.

[2022-05-17 09:54] #1505 closed

[2022-05-17 17:07] CollinsVakayil opened #1649 "Any possibility of adding EPC? Like how it is on ARIS?"

[2022-05-17 19:22] nikku commented on #1649
Please ask questions / discuss our tooling [in our forum](https://forum.bpmn.io/).

[2022-05-17 19:22] #1649 closed

[2022-05-18 08:38] barmac commented on #1625
Closed via https://github.com/bpmn-io/bpmn-js/pull/1645

[2022-05-18 08:38] #1625 closed

[2022-05-18 09:00] nikku commented on #1616
@currandwyer Could you extract [your suggestion on improved hover / select states for connections](https://github.com/bpmn-io/bpmn-js/issues/1616#issuecomment-1072372003) into a separate issue.

We'll tackle this in a simple, straight forward manner as [suggested by you and @andreasgeier](https://github.com/bpmn-io/bpmn-js/issues/1616#issuecomment-1072111300). Everything beyond that I'll treat as

[2022-05-18 09:28] christian-konrad commented on #1616
@nikku please tell me what's the scope in your opinion for now.

I agree to put the connections into a seperate issue.

But what are you now aiming to do on the node hover + select state?

[2022-05-18 09:58] nikku commented on #1616
@currandwyer Also consider adding your proposal on "improved selection box" (with round corners for the select / hover) as an additional feature request. It will be quite some work to get that incorporated I think and if we want it we'd need to tackle it appropriately (i.e. answer how it would work as a generic diagram concern.

[2022-05-18 10:05] nikku commented on #1616
https://github.com/bpmn-io/diagram-js/pull/640 proposes a straight forward improvement (solid selection outline).

[2022-05-18 14:38] smbea opened #1653 "`setColor` should always set the external label to "stroke" color"
__Describe the Bug__

When setting the color of elements with external labels, the external label is set to the "fill" color instead of the "stroke" color. This is different to the color set for embedded labels. This raises a UX concern, because of the color being so light.

⚠️ This happens if color is applied to label specifically (not when applied to target shape).

__Steps to Reproduce__

1. se

[2022-05-18 15:06] smbea commented on #1653
This happens in [SetColorHandler](https://github.com/bpmn-io/bpmn-js/blob/develop/lib/features/modeling/cmd/SetColorHandler.js). This is because when setting the color of a multi element selection, the external label is considered as a standalone element. For a single element, only the shape is selected and the label color is derived from it.

[2022-05-18 16:28] o314 commented on #914
You're welcome !
Thanks for the great work, past and upcoming efforts !

[2022-05-19 12:31] nikku commented on #1653
From what I found this also happens when you apply on the label itself.

[2022-05-19 12:31] smbea commented on #1653
Yes, I will update correctly @nikku

[2022-05-19 18:23] #1653 closed

[2022-05-20 08:29] christian-konrad opened #1657 "Resizing the text box of an text annotation below the constraints makes the canvas unusable"
__Describe the Bug__

Resizing the text box of an text annotation below the constraints (min height of 10px) creates _total madness_ on the canvas.
See below video to see what happens.

__Steps to Reproduce__

Steps to reproduce the behavior:

1. Create a text annotation
2. Write in some text
3. Resize the text box so it is too small for the text
4. The text disappears (and no matter how the box i

[2022-05-20 08:54] #1518 closed

[2022-05-20 09:42] nikku commented on #1657
Can you reproduce this on demo.bpmn.io?

[2022-05-20 09:43] christian-konrad commented on #1657
@nikku Does not happen in latest stable (on demo.bpmn.io)

[2022-05-20 09:44] nikku commented on #1657
Thanks. We'd need to further investigate it / root cuase it then.

[2022-05-20 10:00] marstamm commented on #1642
This leads to selection outlines not showing up. What we could do is change the DOM order, so the text node comes after the `djs-hit` rect. It seems that it always selects the next text object in the DOM tree.

However, we would have to verify that we don't rely on the DOM order and use the utilities for it: https://github.com/bpmn-io/diagram-js/blob/ad9ea906436d9d82681aa06f6572847bb469f90b/lib/ut

[2022-05-20 10:34] marstamm opened #1658 "Labels and associations don't reconnect to SequenceFlow after resize"
__Describe the Bug__

When a Conneciton is re-laidout after a connected shape is resized, Labels and Associations are not moved with it.

![Recording 2022-05-20 at 12 33 35](https://user-images.githubusercontent.com/21984219/169510262-f80040f3-b078-481b-b62b-a934ca55b106.gif)

__Steps to Reproduce__

1. Create a Connection with many waypoints, connected to a expanded sub-process
2. Create some Ben

[2022-05-20 10:39] nikku commented on #1642
We could argue not relying on API JS wise is a bug, we'd still need to double-check what are our guarantees for CSS (looking at our selectors :eyes:).

[2022-05-20 12:13] nikku commented on #1657
I cannot reproduce this locally (Chrome 100) that is:

![capture BiI5sU_optimized](https://user-images.githubusercontent.com/58601/169525790-4cab9b24-2e13-45f8-a071-1b413a283981.gif)

Please try to reproduce this on Chrome or Firefox to see if it is an actual browser issue.

[2022-05-20 13:33] marstamm opened #1660 "Associations should Snap to Flow"
__Describe the Bug__

Associations should Snap to Connection
![Recording 2022-05-20 at 15 32 22](https://user-images.githubusercontent.com/21984219/169538899-2290f3dc-9d41-41b2-ab34-5e6e63d79f21.gif)

__Steps to Reproduce__

1. Connect a Association to a Flow
3. It is misaligned

__Expected Behavior__

It snaps to the Line

__Environment__

 - Browser: Chrome 101
 - OS: Ubuntu
 - Library version:

[2022-05-22 01:21] L1yp opened #1662 "When I use BpmnViewer.importXML, a scroll bar appears in the window, and this problem also exists in the official website test."
__Describe the Bug__

__Steps to Reproduce__

1. open [url](https://demo.bpmn.io/)
2. create a bpmn file and export to local driver
3. refresh [url](https://demo.bpmn.io/)
4. import a bpmn file

![image](https://user-images.githubusercontent.com/22633943/169674261-f65e1d48-1f6b-46d4-8994-c70b9944f570.png)

__Expected Behavior__

__Environment__

 - Browser: [Chrome 100.0.4896.75]
 - OS: [e.g. Wind

[2022-05-23 06:28] pinussilvestrus commented on #1662
Thanks for reporting! I can reproduce this[ in the demo](https://demo.bpmn.io/s/start). However, I'm not able to reproduce this locally on the current `develop` branch.

Are you able to share how you saw the problem when using the viewer? E.g. [via Codesandbox](https://codesandbox.io/s/bpmn-js-starter-m3kex).

[2022-05-23 12:43] nikku commented on #1657
@christian-konrad Please double-check if / how you can reproduce this reliably.

If we cannot reproduce it reliably then we have to close the issue.

[2022-05-23 21:13] nikku opened #1663 "Hanging connection after target removed"
__Describe the Bug__

Connections attached to a source or target connection are left hanging when the source or target is removed:

![capture 2xTt11_optimized](https://user-images.githubusercontent.com/58601/169906762-723c6848-9690-4fb7-b8bb-ee2cc20c8aed.gif)

__Steps to Reproduce__

1. Attach association to sequence flow (i.e. via a `bpmn:TextAnnotation`)
2. Remove association target
3. __See tha

[2022-05-24 07:30] sentry-io[bot] opened #1664 "Error: illegal invocation in <execute> or <revert> phase (action: element.updateLabel)"
__Describe the bug__

Deleting an element while direct editing is active triggers an `illegal invocation` exception:

![capture NIAb89_optimized](https://user-images.githubusercontent.com/58601/170051640-9f96fea5-5cea-45e8-87d7-c68db5b06438.gif)

Sentry Issue: [BPMN-IO-DEMO-2QV](https://sentry.io/organizations/camunda-modeling/issues/3288709673/?referrer=github_integration)

[code]

__Steps to rep

[2022-05-24 07:32] barmac commented on #1664
This was first seen in the most recent `demo.bpmn.io` deployment. It may be a regression in one of the releases since the Heroku incident.

[2022-05-24 11:52] #1658 closed

[2022-05-24 11:56] nikku commented on #1660
Fixed upstream via https://github.com/bpmn-io/diagram-js/pull/646.

[2022-05-24 12:21] L1yp commented on #1662
I'm sorry it took so long to reply to you.

Thanks. I saw
[code]
 in your code and solved the problem.👍

[2022-05-24 12:21] #1662 closed

[2022-05-24 12:53] nikku opened #1665 "Release `bpmn-js@9.2.0`"
__What should we do?__

Release latest modeling improvements (https://github.com/bpmn-io/bpmn-js/compare/v9.0.4...develop, https://github.com/bpmn-io/diagram-js/compare/v8.2.1...develop).

__Release Checklist__

* [ ] Check pending releases in utility libraries
  * [ ] moddle
  * [ ] moddle-xml
  * [ ] bpmn-moddle
  * [ ] diagram-js-direct-editing
  * [ ] diagram-js-origin
  * [ ] bpmn-js-cli

* [

[2022-05-25 06:22] nikku commented on #1616
Closed via https://github.com/bpmn-io/bpmn-js/commit/b158addcc8f46ecbc9210b6b569823686547a323.

[2022-05-25 06:22] #1616 closed

[2022-05-25 07:06] nikku commented on #1663
Closed via https://github.com/bpmn-io/bpmn-js/commit/b158addcc8f46ecbc9210b6b569823686547a323.

[2022-05-25 07:06] nikku commented on #1660
Closed via https://github.com/bpmn-io/bpmn-js/commit/b158addcc8f46ecbc9210b6b569823686547a323.

[2022-05-25 07:06] #1660 closed

[2022-05-25 07:42] barmac commented on #1627
I've found an issue with the current keyboard shortcut. When I press `a` with label being selected, it "appends" to the label:

https://user-images.githubusercontent.com/28307541/170207916-c06e3a45-f40c-4075-8a95-2cd7ede5c6e8.mov

I'd expect that it either:

* appends to the label target
* is disabled for labels

[2022-06-01 07:28] HanselIdes opened #1670 "Changing task type clears draft changes in the node name"
__Describe the Bug__

Changing task type clears draft changes in the node name

__Steps to Reproduce__

1. Change the name of a node (DO NOT hit "Return")
2. Change the type of node

https://user-images.githubusercontent.com/17521551/171350597-66171f8a-1243-4980-b554-d40a1cd38400.mov

__Expected Behavior__

Changes are saved automatically

__Environment__

 - Browser: Version 101.0.4951.54 (Offici

[2022-06-01 07:29] barmac commented on #1670
This needs to be fixed in https://github.com/bpmn-io/bpmn-js-connectors-extension/issues/40

[2022-06-01 07:30] MaxTru commented on #1670
Sorry for the confusion. As @barmac pointed, let's use https://github.com/bpmn-io/bpmn-js-connectors-extension/issues/40 for tracking this.

[2022-06-03 07:31] pinussilvestrus commented on #1657
Any updates on this one @christian-konrad? If not, I'd like to close this one until it pops up again.

[2022-06-03 09:03] christian-konrad commented on #1657
We can close it until we stumble upon it again 👍

[2022-06-03 09:03] #1657 closed

[2022-06-07 07:33] smbea opened #1672 "Add multi-element context pad actions"
__What should we do?__

Adds BPMN specific multi-element context pad actions:

- [x] Bulk delete - https://github.com/bpmn-io/bpmn-js/pull/1525
- [x] #1680

__Why should we do it?__

We want to allow bulk actions through context-pad. See https://github.com/camunda/product-hub/issues/61

---

Related to https://github.com/bpmn-io/bpmn-js/issues/1491

[2022-06-07 08:42] nikku commented on #1670
@HanselIdes this is not a bpmn-js issue. I've opened it in the web modeler: https://github.com/camunda/web-modeler/issues/1390. We're also tracking it up stream (https://github.com/bpmn-io/bpmn-js-connectors-extension/issues/40) so I think we're cool.

[2022-06-07 08:42] #1670 closed

[2022-06-07 08:44] HanselIdes commented on #1670
Sure, that works for me

[2022-06-07 12:11] ChaominRuan opened #1673 "Multi-instance toggle loop then toggle Parallel or Sequential XML label No updates"
__Describe the Bug__

![GIF 2022-6-7 19-50-50](https://user-images.githubusercontent.com/61787903/172374025-61f23e34-b199-4e67-bddd-ec7a3aafdb92.gif)

__Steps to Reproduce__

1. Create Task
2. Add loop multi-instance
3. toggle Parallel or Sequential

__Expected Behavior__

XML  label： <bpmn:multiInstanceLoopCharacteristics /> or  <bpmn:multiInstanceLoopCharacteristics isSequential="true" />

__Env

[2022-06-07 12:57] nikku opened #1675 "Cannot select element with direct editing active"
__Describe the Bug__

If direct editing is active the next click is suppressed. Because of that I have to click twice to actually select the next element:

![capture FWyknG_optimized](https://user-images.githubusercontent.com/58601/172385189-170f15d4-b903-445e-b369-cf81d733b831.gif)

__Steps to Reproduce__

1. Create Task :arrow_right: direct editing activates
2. Click another flow node
3. __See t

[2022-06-07 15:12] nikku commented on #1665
Issue found during manual integration testing: https://github.com/bpmn-io/bpmn-js/issues/1675.

[2022-06-07 15:37] nikku opened #1676 "Cannot undo element removal: `Cannot read properties of undefined (reading 'appendChild')`"
__Describe the Bug__

Removing [complex diagram](https://demo.bpmn.io/s/application-processing) and reverting that change via undo triggers the following error:

[code]

__Steps to Reproduce__

1. Open [this diagram](https://demo.bpmn.io/s/application-processing)
2. Select all
3. Remove contents
4. Undo
5. __See error in DEV tools__

__Expected Behavior__

Undo works reliably.

__Environment__

 -

[2022-06-07 15:37] nikku commented on #1665
Issue found during testing: https://github.com/bpmn-io/bpmn-js/issues/1676.

[2022-06-08 11:39] barmac commented on #1664
I am still able to reproduce it. It seems the fix works only for empty text box, but when you type anything, delete action leads to an error as previously.

https://user-images.githubusercontent.com/28307541/172607481-0c0e1600-6e1b-4896-af79-d5fcd423907d.mov

[2022-06-08 11:43] nikku commented on #1673
@smbea Could you have a look at this? Seems to be related to a recent multi-instance loop fix we've shipped with v9.x.

[2022-06-08 11:51] nikku commented on #1664
I'll look into this.

[2022-06-08 11:56] nikku commented on #1664
Hoping to close this for real via https://github.com/bpmn-io/bpmn-js/pull/1677.

[2022-06-08 12:24] #1664 closed

[2022-06-09 11:48] #1673 closed

[2022-06-09 12:42] barmac opened #1680 "Alignment and distribution"

[2022-06-09 13:09] barmac opened #1681 "Alignment is broken when subprocess and its child are selected"
__Describe the Bug__

https://user-images.githubusercontent.com/28307541/172854624-185a812c-1fb2-49dc-b242-f5a114ffa36f.mov

__Steps to Reproduce__

1. Select a subprocess and its child
2. Use alignment tool (via API or buttons added in your application)

__Expected Behavior__

Subprocess should not move or be resized.

__Environment__

 - Browser: [e.g. IE 11, Chrome 69]
 - OS: [e.g. Windows 7]

[2022-06-13 05:26] alibahal opened #1683 "erro on adding pool"
__Describe the Bug__

when adding a pool on latest version ,error generated as follow

__Steps to Reproduce__

1. add pool on empty diagram

cause error :
unhandled error in event listener Error: invalid hit type <no-move>
    at applyStyle (InteractionEvents.js:285:1)
    at InteractionEvents.createBoxHit (InteractionEvents.js:374:1)
    at BpmnInteractionEvents.createParticipantHit (BpmnInteract

[2022-06-13 07:09] alibahal commented on #1683
I found the problem. I updated diagram.js to latest version( 8.5.0") and problem solved

[2022-06-13 07:09] #1683 closed

[2022-06-21 08:50] MaxTru commented on #1676
@nikku in currents planning we were not able to assign this. Are you able to tackle? If not, plaese move to backlog / repropose next time.

[2022-06-24 07:44] nikku commented on #1676
Looking into this today and will move to backlog unless I#m able to crack this.

[2022-06-27 08:47] pihme opened #1687 "Transforming a Call Activity into a SubProcess does not resize the Shape"
__Describe the Bug__

There is a certain edit sequence which is a little confusing because it leads to what seems like a dead end.

__Steps to Reproduce__

1. Create Camunda 8 BPMN diagram
2. Create a task
3. Use wrench symbol to turn the task into a call activity
4. Now observe, that the wrench menu has additional entries (which is already a bit confusing): sub-process collapsed, sub-process expa

[2022-06-27 08:55] pihme opened #1688 "I can create a collapsed sub process, but cannot do anything useful with it"
__Describe the Bug__
In desktop and web modeler I can create a collapsed sub process, but then I cannot do anything useful with it.

__Steps to Reproduce__

1. Create Camunda 8 BPMN diagram
2. Create task
3. Use wrench menu to turn it into a call activity (this adds additional entries to the wrench menu)
4. Use wrench menu to turn it into a collapsed sub process
5. Maybe there is a trick I am miss

[2022-06-27 10:39] pihme opened #1689 "Task headers get lost when switching to User Task"
__Describe the Bug__
If you add task headers to a Service Task/Send Task/Script Task and change the element to a User Task, the task headers are gone. This is inconsistent in comparison to e.g. changing a Service Task to a Send Task where the headers are kept

__Steps to Reproduce__

1. Create a Camnuda 8 BPMN diagram
2. Create a Service Task
3. Add headers to the service task
4. Use wrench menu t

[2022-06-28 06:52] rajgoel opened #1690 "Labels misplaced after copy & paste"
__Describe the Bug__

When programmatically copying and pasting contents of a subprocess into another subprocess, the labels are misplaced in to parent of the target subprocess while all other content is correctly placed within the target subprocess. This problem startet to occur since v9.0.4 and in v9.0.3 this problem didn't occur. It might be related to the changes in https://github.com/bpmn-io/

[2022-06-28 08:15] smbea commented on #1689
I can confirm that the task headers are not maintained for user task. Moving to backlog

[2022-06-29 08:51] barmac opened #1691 "Display alignment & distribution buttons only when it makes sense"
__What should we do?__

Don't display the buttons if distribution/alignment cannot possibly have any effect, e.g. when only a sequence flow and a task are selected.

__Why should we do it?__

No surprises.

---

Follow-up of https://github.com/bpmn-io/bpmn-js/issues/1680

[2022-07-05 07:04] christian-konrad commented on #1688
Additionally to that, you can not convert a task into an expanded subprocesses in the Web Modeler with the wrench action; you need to convert it to a call activity, first. This needs to be fixed, too.

[2022-07-06 09:43] OmranAbazid opened #1692 "Unnecessary scrollbar appears on pages that include bpmn.js"
__Describe the Bug__

There is an unnecessary scrollbar appearing on pages that include bpmn.js

This is caused by a weird svg element on the page named: 'helper-svg'
![Screenshot 2022-07-06 at 11 40 43 AM](https://user-images.githubusercontent.com/9063094/177521256-4944ca08-7000-4b19-a770-6f78a23ed726.png)

__Steps to Reproduce__

1. Go to https://demo.bpmn.io/s/start (preferably on Windows)
2. Y

[2022-07-06 11:33] marstamm commented on #1688
As long as Cloud does not support collapsed subprocesses, I think it should work like it did with previous modeler releases.

This means that you can model collapsed subprocesses (for non-execution or compatibility usecases) and expand them, but can't collapse subprocesses. It is a bug that the expand option is not available in cloud modeler, which will be addressed in https://github.com/camunda/c

[2022-07-06 14:17] barmac opened #1693 "Alignment can lead to new connections being created"
I played around with it a bit and noticed something strange. On the simple process, if I align everything `center`, then `top`, the flows get reconnected:

![Recording 2022-07-06 at 14 21 41](https://user-images.githubusercontent.com/21984219/177549156-3e7ec51d-5fb0-4a99-a98b-eabe7d0b8c69.gif)

Obviously this is not what this tool was intended for, but would be interesting to know what causes a re

[2022-07-06 19:48] nikku commented on #1692
Thanks for opening this issue. Weird element indeed.

Fixed upstream via https://github.com/bpmn-io/diagram-js/pull/657

[2022-07-07 11:01] #1691 closed, assigned to barmac

[2022-07-08 13:53] #1672 closed

[2022-07-11 09:56] mnp-mid opened #1695 "Sub process: visible label(s) after changing to collapsed sub process"
Visible label(s) after changing to collapsed sub process with start, task and end event inside.
The label of the start event is even moving far more outside.

This issue occures only by clicking the steps through. Import and Export of the diagram works proberly.
It is tricky to reproduce. See the uploaded gif animation for detailed steps.

__Steps to Reproduce__

1. append task and end event
2. ch

[2022-07-11 11:57] rajgoel commented on #1641
I just realised that both problems I mentioned above had the same cause. In the code
[code]
should be replaced by
[code]
Then, the sketch of the solution should work.

[2022-07-11 12:02] rajgoel commented on #1690
In https://forum.bpmn.io/t/programmatically-copy-paste-extensionelements-within-subprocesses/7692 the paste context was wrong and caused the faulty behaviour. It should be the plane element (not the element itself):
[code]

[2022-07-11 12:02] #1690 closed

[2022-07-11 14:15] rajgoel opened #1696 "Copy/paste of event-subprocess turns non-interrupting message start event to untyped start event"
__Describe the Bug__

When copy/pasting an event-subprocess on [demo.bpmn.io](https://demo.bpmn.io/new) the type of the start event is not correctly copied.

After copying and before pasting the modeller shows:

![Copy](https://user-images.githubusercontent.com/4448455/178283898-9824497d-cc56-4c80-987d-aaea06527438.png)

After pasting the modeller shows:

![Paste](https://user-images.githubusercon

[2022-07-11 14:25] rajgoel commented on #1696
Interestingly, copying a non-interrupting start event into an existing event-subprocess appears to work as expected in the demo modeller.

[2022-07-11 15:38] philippfromme commented on #1696
Hey, thanks for creating this issue. I've looked into it and it seems to be an issue with [BpmnRules](https://github.com/bpmn-io/bpmn-js/blob/develop/lib/features/rules/BpmnRules.js#L670). The start event gets replaced by a blank start event after it was pasted because of the rules assume it was pasted onto the process even though it's a child of the sub-process.

[2022-07-11 15:40] philippfromme commented on #1641
I've commented on the issue you mentioned: https://github.com/bpmn-io/bpmn-js/issues/1696

[2022-07-11 15:48] christian-konrad opened #1697 "Better, custom tooltips"
__Is your feature request related to a problem? Please describe.__

The native tooltips (`title` attributes) take a long time to appear (2-3 sec on Mac) and are also not formatable. Some indicators, like the FEEL expression ones, need to show the tooltip at least once to be understandable, but the user must remain for too long on elements like this to actually discover that there are tooltips or n

[2022-07-12 14:00] rajgoel commented on #1696
Just tried out this fix  https://github.com/bpmn-io/bpmn-js/commit/71416249d50cf54f261a92e22965f1d99bbe18f3 by @barmac and it appears to solve the issue.

[2022-07-12 15:06] philippfromme commented on #1696
I'm currently working on this. Expect this to be fixed very soon.

[2022-07-13 11:40] philippfromme commented on #1696
Fixed by https://github.com/bpmn-io/bpmn-js/pull/1699

[2022-07-13 11:40] #1696 closed

[2022-07-14 07:15] nikku commented on #1692
Closed via https://github.com/bpmn-io/bpmn-js/commit/5a75bab2fc5b893b147f8d50d79484522eaaebab.

[2022-07-14 07:15] #1692 closed

[2022-07-15 07:26] pinussilvestrus commented on #1695
Thanks for the detailed explanation, I can reproduce this 👍 Moving this to backlog

[2022-07-15 11:11] pinussilvestrus commented on #1687
@marstamm is this related to https://github.com/bpmn-io/bpmn-js/issues/1688?

[2022-07-15 11:59] pinussilvestrus commented on #1687
Moving this to backlog then.

[2022-07-29 07:38] GeethaParthasarathy opened #1702 "Add connectors icons in Token Simulation"
__Is your feature request related to a problem? Please describe.__

Currently we do not see the Connectors icons in the Token simulation and it is displayed as Service task with its respective icon.

__Describe the solution you'd like__

We could display the Connectors icon and name(if possible) in the Token Simulation as well to keep it aligned with other features of the application

__Additional

[2022-08-02 02:49] ljywmm opened #1703 "ts"
Does it support TS version

[2022-08-02 14:04] philippfromme commented on #1703
Please use one of our [issue templates](https://github.com/bpmn-io/bpmn-js/issues/new/choose) and we're happy to help.

[2022-08-09 09:40] #1703 closed

[2022-08-10 11:55] emaveric opened #1705 "Resizing Group Using Space Tool Breaks Application"
__Describe the Bug__

__Steps to Reproduce__

1. Create new bpmn diagram on https://demo.bpmn.io/
2. Add group
3. Activate space tool and use on group
4. Move group with space tool up
5. Space tool stuck and can be dropped only after 2 clicks
6. After drop all elements can't move
[](url)

__Expected Behavior__

Space tool don't stuck and elements can move

__Environment__

 - Browser: Chrome 101,

[2022-08-12 07:26] nikku opened #1708 "Clean up BPMN moddle copy and paste"
__What should we do?__

There is a couple of issue we detected in our BPMN copy and paste implementation:

* [x] `moddleCopy.canCopyProperty` is used in stateful manner :arrow_right: https://github.com/bpmn-io/bpmn-js/pull/1707
    * In [`GroupBehavior`](https://github.com/bpmn-io/bpmn-js/blob/develop/lib/features/modeling/behavior/GroupBehavior.js#L176), adding category to root element :arrow_rig

[2022-08-12 11:40] nikku opened #1709 "Copy and paste between different browser windows"
__Is your feature request related to a problem? Please describe.__

As a user I want to copy and paste parts of my diagram between different browser/app windows.

Use case: Have multiple diagrams opened in different tabs, but also have diagrams opened in different bpmn-js based applications (Camunda Modeler, Camunda Web Modeler, bpmn.io demo).

__Describe the solution you'd like__

* [ ] If I copy

[2022-08-12 11:40] nikku commented on #1709
Investigating this issue we found a couple of copy and paste related issues: https://github.com/bpmn-io/bpmn-js/issues/1708.

[2022-08-12 14:56] emaveric commented on #1705
https://user-images.githubusercontent.com/49570281/184382317-54b6ba29-1387-4c1c-b590-f1d2e5c902e6.mov

[2022-08-14 03:48] txzqy123 opened #1712 "Has any typescript version ?"
Has any typescript version ?

[2022-08-15 07:01] philippfromme commented on #1712
Please use an [issue template](https://github.com/bpmn-io/bpmn-js/issues/new/choose).

[2022-08-15 07:01] #1712 closed

[2022-08-15 07:05] pinussilvestrus commented on #1705
Seems like errors are occuring when one tries to resize a group below the min-height. I see these errors in the Chrome Dev Tools logs:

[code]

[2022-08-15 07:05] pinussilvestrus commented on #1705
Sounds like a nice spring cleaning topic 👍

[2022-08-15 07:14] philippfromme commented on #1705
We may be missing the minimum dimensions for group elements.

[2022-08-15 10:46] #1705 closed

[2022-08-15 14:27] pinussilvestrus commented on #1689
We missed adding `bpmn:UserTask` as [allowed parent](https://github.com/camunda-cloud/zeebe-bpmn-moddle/blob/master/resources/zeebe.json#L122) for the headers in the moddle descriptors.

I will add the missing piece.

[2022-08-16 13:14] #798 closed

[2022-08-16 13:14] #1708 closed

[2022-08-17 08:01] nikku commented on #1688
@marstamm What is the status of this issue? I do not see any PR referencing it.

[2022-08-17 08:48] marstamm commented on #1688
This was an issue in camunda-bpmn-js and was released as v0.16.0 and modeler 5.2.0

[2022-08-17 08:48] #1688 closed

[2022-08-17 13:11] philippfromme commented on #1695
# Root Cause Analysis 🔍

This was assumed to have been fixed (cf. https://github.com/bpmn-io/bpmn-js/issues/1617). However, the fix only works if you don't move the label, so effectively, it's still broken.

Here's what's happening:

* during move the hovered element is 🐒 patched to be the root element when moving a label (cf. https://github.com/bpmn-io/bpmn-js/blob/v9.3.2/lib/features/modeling/be

[2022-08-17 15:25] nikku opened #1716 "Render sequence flows in front of other flow nodes"
__Is your feature request related to a problem? Please describe.__

As a user I want to model my diagram as worry free as possible. Sequence flows behind tasks being not recognized by the user is a recurring issue (cf. https://github.com/camunda/camunda-modeler/issues/2994, https://github.com/bpmn-io/bpmn-js/issues/1446).

Understandably from the accessibility perspective a bunch of users seem to

[2022-08-17 15:28] nikku commented on #1716
The following capture shows the safer interaction (rendering sequence flows always on top):
![Uploading capture.ZC1p5y_optimized.gif…]()

[2022-08-18 12:26] philippfromme commented on #1695
I will go for the second approach as it is less intrusive.

[2022-08-19 07:14] philippfromme commented on #1695
Fixed by https://github.com/bpmn-io/bpmn-js/pull/1719.

[2022-08-19 07:14] #1695 closed

[2022-08-19 08:31] #1687 closed

[2022-08-19 08:32] philippfromme commented on #1687
Fixed by https://github.com/bpmn-io/bpmn-js/pull/1720.

[2022-08-19 09:49] nikku commented on #1716
Closed via https://github.com/bpmn-io/bpmn-js/pull/1717

[2022-08-19 09:49] #1716 closed

[2022-08-25 15:55] rallen2010 opened #1730 "Support Markdown in Annotations"
__Is your feature request related to a problem? Please describe.__

It would be a great enhancement if you could specify some formatting in Annotations -- maybe through use of Markdown commands which pass any requirements for being text-like and human readable, even if not rendered as markdown.

__Describe the solution you'd like__

An Annotation text content could contain markdown commands, which

[2022-08-26 10:56] pinussilvestrus commented on #1730
Pretty interesting idea 👍 I will move this to the backlog as it's not on our Roadmap. We are open for contributions though 🙂

/cc @christian-konrad

[2022-08-29 09:30] barmac opened #1731 "Boundary event can be placed on process via append anything"
__Describe the Bug__

With [the connectors extension](https://github.com/bpmn-io/bpmn-js-connectors-extension), I can place a boundary event on process (canvas). When I use dragging, it's converted to an intermediate event, but it does not happen when I use the append action (click on the entry in the menu). This breaks the modeler in two ways:

1. Modeler is broken immediately when I append a non

[2022-08-29 09:40] barmac commented on #1731
There was no single spike, but this issue is responsible for the two top events-producing issues on sentry for the demo.bpmn.io project. Note that we generated many more events in Camunda Modeler project.

[2022-08-31 01:41] Aifomy opened #1732 "Drag the node position. The arrow of the line is hidden behind the node"
__Describe the Bug__

Drag the node position. The arrow of the line is hidden behind the node

__Steps to Reproduce__
1.Initialize a start node, drag another node A, and connect the start node to node A with a line
2. Drag the position of node A multiple times.
3. The arrows of the lines are occasionally hidden under node A.

![image](https://user-images.githubusercontent.com/38654496/187574040-fa

[2022-08-31 09:11] nikku commented on #1732
@Aifomy Thanks for opening this bug.

Unfortunately we cannot help you with custom modelers built on top of the bpmn-io tooling, _unless_ you provide us sufficient ways to reproduce it (i.e. a code sandbox).

Are you able to reproduce your issue in stock bpmn-js, i.e. https://demo.bpmn.io/s/start?

I was not so I assume this is a bug in some of the extensions you provided.

[2022-09-02 07:25] kurongdashi opened #1733 "bpmnModel.saveXML always throw error why?"
![image](https://user-images.githubusercontent.com/29769847/188081255-591d5aad-c5e3-4ef1-9889-b79a672cbab0.png)
**ERROR : value.search is not a function**

[2022-09-02 08:25] barmac opened #1734 "`modeling#setColor` sets color on BPMNPlane"
__Describe the Bug__

`bpmn-in-color` extensions can be used only on BPMNShapes, BPMNEdges, and BPMNLabels. The `modeling#setColor` allows to set color on any DI element though.

Cf. https://github.com/bpmn-io/bpmn-js-integration/runs/8151588491?check_suite_focus=true#step:6:350

__Steps to Reproduce__

At https://demo.bpmn.io/s/start, open the devtools, and paste the following commands:

[code]

[2022-09-02 08:45] nikku commented on #1734
Good one. You'd like to fix it right away? Otherwise let's move it to backlog and mark as `spring cleaning`.

[2022-09-02 08:49] barmac commented on #1734
Not sure. Let's move it to the backlog for now.

[2022-09-02 09:57] nikku commented on #1733
That is a good question. Maybe, if you provide us the relevant context, we could help you.

Existing issue template shall be your friend and guidance in these times.

[2022-09-05 01:46] kurongdashi commented on #1733
Because of the need to ensure that the model can modify synchronous saved to the server, we switch click model on different nodes are called saving model method, the problems behind

[2022-09-05 10:03] liuxsen opened #1736 "TypeError: Cannot read properties of undefined (reading 'isGeneric')"
__Describe the Bug__

index.esm.js:1107 Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'isGeneric')
    at ElementSerializer.build (index.esm.js:1107:37)
    at eval (index.esm.js:1334:30)
    at forEach (index.esm.js:198:16)
    at eval (index.esm.js:1323:56)
    at forEach (index.esm.js:198:16)
    at ElementSerializer.parseContainments (index.esm.js:1299:52)
    a

[2022-09-05 11:14] #1734 closed, assigned to barmac

[2022-09-08 08:15] pinussilvestrus commented on #1733
Please use one of our existing [issue templates](https://github.com/bpmn-io/bpmn-js/issues/new/choose). Otherwise, we can't help you properly.

[2022-09-08 13:29] pinussilvestrus commented on #1736
Can you please share your extension [inside a CodeSandbox](https://codesandbox.io/s/late-flower-eh54kr)? Without it will be hard for us to inspect your reported issue.

Thank you ❤️

[2022-09-09 07:34] barmac commented on #1627
For sure, as we use it now also for the alignment/distribution buttons :)

However, if I am not missing anything, [the search menu does not use the popupMenu](https://github.com/bpmn-io/bpmn-js/compare/develop...add-replce-anything#diff-1eda05ec95c109f1930f73b88bae1702710d173ec2b67d111bed0aac67a9b8d6R29) to gather entries, does it?

[2022-09-09 08:26] barmac commented on #1627
The problem with the diagram-js popupMenu I wanted to signal with:

is that the popupMenu does not allow the application to freely decide on the structure of the menu. The popupMenu gathers the entries and has a strict way to [construct the HTML](https://github.com/bpmn-io/diagram-js/blob/develop/lib/features/popup-menu/PopupMenu.js#L362) based on this.

In the case of append/create anything, the

[2022-09-12 08:21] barmac opened #1738 "When I replace an event based gateway with an inclusive gateway, the outgoing connection disappears"
__Describe the Bug__

When I replace an event based gateway with an inclusive gateway, the outgoing connection disappears.

__Steps to Reproduce__

https://user-images.githubusercontent.com/28307541/189606265-3994146a-cd6c-4aae-88d9-f6135ef522d9.mov

__Expected Behavior__

Connection should stay.

__Environment__

 - Browser: [e.g. IE 11, Chrome 69]
 - OS: [e.g. Windows 7]
 - Library version: [e.g

[2022-09-15 08:06] Hafflgav opened #1739 "Connector icon is not being displayed"
__Describe the Bug__
There is an issue displaying the connector icon.

__Steps to Reproduce__

1. Create a connector in Web Modeler
2. Apply it to a service task
(p.s. you can make it visible by resizing the picture)
![image](https://user-images.githubusercontent.com/30292227/190349937-04f6115f-41fd-4902-afb8-d32e4764168d.png)
https://user-images.githubusercontent.com/30292227/190350074-5d015b00-8

[2022-09-15 08:17] nikku commented on #1739
Please raise this with operate! They need to upgrade to the latest camunda-bpmn-js version, specifically bump https://github.com/bpmn-io/element-templates-icons-renderer.

[2022-09-15 08:17] #1739 closed

[2022-09-15 08:45] Hafflgav commented on #1739
Thanks for chiming in @nikku, is this also valid for the video which shows the issues in Web Modeler?

[2022-09-15 11:05] nikku commented on #1739
Happy to dive into the web modeler issue if you provide me with the template that is broken.

[2022-09-15 11:16] francav commented on #1739
@nikku This is the template in use when the issue was found: https://github.com/francav/hey-duedate/blob/c8-connector/c8-connector/element-templates/template-connector.json

[2022-09-15 11:32] Hafflgav commented on #1739
Thanks @nikku and @francav,
I will create two additional ones 👍

[2022-09-15 12:01] nikku commented on #1739
For context: We did not enforce an icon size / re-scaled for 8.0 (operate).

For 8.1+ we do enforce the icon size consistently, across the whole tool stack. @francav if you'd like to stay backwards compatible with the template you have to re-scale the icon manually to 18x18 pixel (cf. [documentation](https://docs.camunda.io/docs/next/components/modeler/desktop-modeler/element-templates/defining-te

[2022-09-16 07:56] francav commented on #1739
Great, thanks @nikku

[2022-09-16 09:06] pinussilvestrus commented on #1733
@kurongdashi are you able to give the necessary details? If not, we will likely close this issue.

[2022-09-16 09:06] pinussilvestrus commented on #1732
@Aifomy any updates on this one?

[2022-09-19 16:15] #1732 closed

[2022-09-21 10:14] #1736 closed

[2022-09-27 13:57] nikku commented on #1498
We do set an empty `bpmndi:BPMNLabel` in recent bpmn-js versions (you can double-check against [our demo](https://demo.bpmn.io/s/start).

[2022-09-27 13:57] #1498 closed

[2022-09-27 13:58] nikku commented on #1498
Closed via https://github.com/bpmn-io/bpmn-js/issues/1537.

[2022-10-10 19:04] christian-konrad opened #1749 "Drop to append"
__Is your feature request related to a problem? Please describe.__

Instead of prohibiting to drop elements from the palette on other elements, we could use this to allow for a "drop to append" behavior.

__Describe the solution you'd like__

![DropToAppend (2)](https://user-images.githubusercontent.com/56470362/194935456-b655656c-62dd-498f-9185-7f5627bae66f.gif)

__Describe alternatives you've co

[2022-10-11 06:14] nikku commented on #1749
Nice idea for an enhancement. Moving to backlog for the moment.

Last time I user tested in a larger crowd (a few years back) it was visible how non-starters in the group consistently used contextual modeling actions over the palette. Let us examine data on usage patterns once it is available.

[2022-10-11 06:17] nikku commented on #1749
For reference the alternative discussed ("create/append anything") allows me to do the same thing, contextually, using both mouse and/or keyboard interaction:

![capture lvQZ1w_optimized](https://user-images.githubusercontent.com/58601/195010942-f485856b-663e-43be-b8a5-7040e7e06752.gif)

[2022-10-17 07:25] #1738 closed

[2022-10-18 16:30] nikku commented on #1709
A poor mans version of this feature can be implemented following along the [bpmn-js-copy-paste-example](https://github.com/nikku/bpmn-js-copy-paste-example).

It has the following limitations:

* Not using system clipboard, but instead using on board diagram-js facilities
* Only copying to local storage / reading from local storage => in browser, cross-tab copy + paste solution

[2022-10-18 16:32] nikku commented on #1709
We were not able to follow up on the required changes to make browser native focus handling + copy/paste available across all our toolkits (https://github.com/bpmn-io/internal-docs/issues/614#issuecomment-1220481826).

[2022-10-19 09:28] 04756 opened #1753 "Double click event not firing reliably every time"
__Describe the Bug__

This issue has been discussed in the forum: https://forum.bpmn.io/t/element-dblclick-is-not-work-fluently/8121

I change the stroke color when the element be selected, but it will make dblclick hard to trigger. May be the reason is the “selection.changed” did not finish in the first click, and when I secondly click the same element it will trigger “selection.changed” again. T

[2022-10-19 12:04] marstamm opened #1754 "loopCharacteristics does not set '"
__Describe the Bug__

__Steps to Reproduce__

1. do this
2. do that

__Expected Behavior__

__Environment__

 - Browser: [e.g. IE 11, Chrome 69]
 - OS: [e.g. Windows 7]
 - Library version: [e.g. 2.0.0]

[2022-10-21 12:50] barmac commented on #1753
The code you shared updates the XML each time the color is changed. This causes the elements to be redrawn and thus can lead to problems with click events. If you want to color selected elements in the UI only, use CSS for this. Check out this codesandbox: https://codesandbox.io/s/affectionate-wildflower-usznl6?file=/src/index.js

[2022-10-21 12:50] #1753 closed

[2022-10-24 02:57] 04756 commented on #1753
Hi, thanks for your help! But this codesandbox does not change the color of the marker, could you help me to change the whole connection color include the marker when it is selected. Now, I only know change the marker color via rewrite the drawConnection method, but this way need to trigger the connection redraw manually when the selection collection changed.

[2022-10-24 03:27] 04756 commented on #1753
And I hope you can re-consider to fix this issue. In my own opinion, it is still issue when I have different connection color initially, the !important hacker attribute will cause the modeling.setColor not work as expected.

[2022-10-24 14:40] marcellobarile opened #1757 "Support overlays stacking order"
__Is your feature request related to a problem? Please describe.__

When dealing with custom overlays (e.g. tooltips), overlapping can be a problem and can be solved only with CSS workarounds.

![image](https://user-images.githubusercontent.com/1809476/197552996-0f493d88-8dbf-4843-b80f-3d7d5ba2cf5b.png)

__Describe the solution you'd like__

It would be comfy to be able to define the order program

[2022-10-31 01:59] hamidrezaabroshan commented on #1548
Hi again @nikku  can you please give update if anything done regarding this issue?

[2022-11-02 08:59] #1302 closed

[2022-11-04 15:44] lmihalkovic commented on #332
... so yes, tsc can generate typings. I created a small project to automatically generate them for diagram-js. As could be anticipated, the result is unusable: the doc is fine for someone who can infer the intentions of the developer or can read the source code, but in many places it is simply not precise enough:
simple example:
[code]
The generator outputs
[code]

This is plain wrong.

I will try

[2022-11-07 11:52] MohamedBakrAli opened #1764 "Issue in the getBusinessObject implementation"
__Describe the Bug__

There is an issue in the `getBusinessObject(...)` implementation, This method returns the given `element.businessObject` or the `element` itself if this object does not contain `businessObject` without checking the type of the `element`, I think that not correct.
https://github.com/bpmn-io/bpmn-js/blob/d676f4e962c8058fa5f04fd6aeb12317b98bd227/lib/util/ModelUtil.js#L35-L44

__

[2022-11-08 10:16] MohamedBakrAli commented on #1764
Thanks, @smbea.
I updated it as you mentioned.

[2022-11-08 15:09] barmac commented on #1764
Does it cause any problems when you use the util in the expected way?

[2022-11-08 15:25] MohamedBakrAli commented on #1764
Yes, As we build some custom cobonent and utils that deal with the XML, so if we want to read something from the extension element, We should check if the returned from the `getBusinessObject(...)` is a type of `ModdleElement` to avoid break of the code, but if this method return `undefine` in the cases like the mentioned above its handle will so easy and I don't need to see its implementation to

[2022-11-08 21:02] barmac commented on #1764
Sorry, I don't understand your use case. Can you share a code snippet where the util fails unexpectedly? Note that we assume the passed object is either a diagram-js shape or a ModdleElement.

I'd say it depends on the contract.

[2022-11-10 13:25] nikku opened #1766 "Label double moves on batch movement"
__Describe the Bug__

If I move a label along with another element that connects to the label target the label moves twice, causing quirky behavior:

![capture LMEmCl_optimized](https://user-images.githubusercontent.com/58601/201102955-b2376e54-6efe-4817-adda-d78ac3d4a899.gif)

__Steps to Reproduce__

1. Open [label-double-move.bpmn.txt](https://github.com/bpmn-io/bpmn-js/files/9981026/label-doubl

[2022-11-11 11:41] nikku opened #1769 "Space tool resizes empty pool vertically"
__Describe the Bug__

An empty pool has a dedicated, fixed height shape to distinguish it from lanes / expanded pools. Using the space tool it gets resized however:

![capture SiJdcQ_optimized](https://user-images.githubusercontent.com/58601/201333134-d400f316-8fa1-4de2-a48a-d10d1a7938bf.gif)

__Steps to Reproduce__

1. Model an empty pool
2. Use space tool on top of empty pool

(Can be reproduced

[2022-11-11 20:25] MaverickDe commented on #1769
Hi, can I get assigned to this issue, Thanks

[2022-11-13 13:51] nikku commented on #1769
@MaverickDe If you're interested go ahead and file a PR.

[2022-11-17 02:21] ChaominRuan opened #1774 "The default startEvent node cannot be connected to the callActivity node in a straight line"
__Describe the Bug__

When creating a new process in bpmn or camunda there is a default startEvent node,
which is not connected to the callActivity node in a straight line

![1](https://user-images.githubusercontent.com/61787903/202188569-f60e94db-6ebc-497a-9097-a887ac1031f1.gif)

__Steps to Reproduce__

1. Create a new process, **do not move the default startEvent node**
2. Drag a callActivity no

[2022-11-17 07:06] nikku commented on #1774
I can reproduce this. Seems like the initial diagram start event position is one pixel of, vertically.

[2022-11-17 09:24] smbea opened #1775 "Integrate new poupMenu"
__What should we do?__

Integrate the new popupMenu in replace and align/distribute menus.

__Why should we do it?__

To improve look and feel of popup menu and prepare for replace anything.

[2022-11-17 09:50] philippfromme commented on #1775
_Change element_ and _Align and distribute_ works for me. ✔️

[2022-11-17 10:00] christian-konrad commented on #1775
I'd go for `Align and distribute` as well

[2022-11-17 10:04] christian-konrad commented on #1775
![Bildschirmfoto 2022-11-17 um 11 03 02](https://user-images.githubusercontent.com/56470362/202416835-0e804eea-619b-45cc-98e6-6dd70ef69440.png)

Maybe improving tooltips in the future could also help here (cf. Miro)

[2022-11-17 10:13] philippfromme commented on #1775
I agree with @christian-konrad. I guess, the alignment and distribution icons can be understood without a title.

[2022-11-17 14:17] nikku commented on #1775
No titel is fine. Same for the color picker.

[2022-11-21 11:21] berghall opened #1778 "Unable to build production bundle with bpmn-js 10.3.0 RuntimeTemplate.importStatement() min-dash"
__Describe the Bug__
I'm updating from bpmn-js 8.2.2 to bpmn-js 10.3.0, but when I'm trying to build a production bundle with the command:
`webpack --mode=production --progress --color --config webpack.config.js` it fails to this error:
Project directory omitted
[code]
webpack.config.js
Sensitive app entries omitted, replaced with app1 and app2 to simulate multiple entries
[code]
package.json
Sens

[2022-11-21 14:31] nikku commented on #1774
Addressed with recent demo deployment.

[2022-11-21 14:31] #1774 closed

[2022-11-21 20:06] nikku commented on #1778
Did reading through our [CHANGELOG](https://github.com/bpmn-io/bpmn-js/blob/develop/CHANGELOG.md) yield any meaningful results?

[2022-11-22 10:38] berghall commented on #1778
Unfortunately I can't give you the project which this is happening in and I couldn't reproduce it with a minimal repro.
I got it however to build if I remove the sideEffects: false, property from min-dash package.json, so that sideEffects would default to true. Could there be some side effects min-dash is leaving out?

[2022-11-22 11:11] nikku commented on #1778
We'll double-check min-dash to see if it leaks side-effects. Thanks for drilling down into this one further!

[2022-11-22 19:46] nikku commented on #1627
I believe all remaining items will be closed via https://github.com/bpmn-io/diagram-js/pull/710 + linked pull requests.

[2022-11-23 11:40] nikku commented on #1778
Unfortunately I could not find how min-dash would leak side-effects.

What could be interesting is upgrading step-by-step and see when it starts to fail.

[2022-11-23 13:15] berghall commented on #1778
Okay, that's unfortunate. I'll upgrade version-by-version until it breaks in the coming days. Thanks for looking into it.

[2022-11-24 12:41] #1775 closed

[2022-11-25 08:03] nikku opened #1780 "Feature new PopupMenu (bpmn-js@11.0.0) in blog post"
__What should we do?__

Feature new popup menu in blog post.

Showcase new capabilities:

* (Optional) Title
* (Optional) Search
* (Optional) Help Links
* (Optional) Grouping
* (Optional) Description
* Full keyboard accessibility / keyboard only

__Why should we do it?__

Educate our users about what's new.

[2022-11-25 08:04] nikku commented on #1780
@smbea Let's discuss if you want to write this post or if I shall do it!

[2022-11-29 08:55] barmac commented on #1731
The issue is **not** fixed upstream due to https://github.com/bpmn-io/bpmn-js-connectors-extension/issues/54

[2022-11-30 15:43] nikku commented on #1778
Thanks for further root causing.

Indeed with diagram-js@9.x we moved to ES2018 as a library target. Same for min-dash which we also turned into a `module` (https://github.com/bpmn-io/min-dash/compare/v3.8.1...v4.0.0).

May that be the offender? You could override min-dash (move back to 3.8.1). API / interface is the same.

----

For the record a similar issue has previously been reported to webpa